[2016-02-03 17:33] nikgraf opened #2 "Lessons learned"
## Plugin

### Child-compiler

The child compiler uses the same loaders as the main compiler. This is exactly what we want in terms of compilers. What I'm not sure yet is regarding the plugin. I believe it also leverages the same plugins. I believe this would be an issue in case people use Text-extract-plugin. If I understood it correctly we can't use different plugins inside a child compiler. If

[2016-02-04 14:01] mxstbr opened #5 "Unique name for window.components"
Right now, if somebody saves something to `window.components` it overrides our saved components and the styleguide won't work, which is bad. We should specify a more-unique name here, where the chance is low somebody accidentally overrides it. Maybe something like `__STYLEGUIDE_PLUGIN_COMPONENTS_DO_NOT_TOUCH__`?

[2016-02-04 14:10] mxstbr commented on #5
Or maybe `__STYLEGUIDE_PLUGIN_INTERNALS_DO_NOT_TOUCH__` as to not tell the users anything about the insides of the object, which might trigger them to try changing it around.

[2016-02-04 15:12] mxstbr opened #6 "No hot reloading"
Had to remove hot reloading, because it threw an error in the browser for me – no idea why, but I figured it's not worth exploring at the moment. Obviously, this would be nice to have, so if somebody has an idea why this is happening I'd love that.

[2016-02-04 15:13] jantimon commented on #5
:+1:  `__STYLEGUIDE_PLUGIN_COMPONENTS`

[2016-02-04 18:51] mxstbr opened #7 "Use [variablename] instead of %%variablename%%"
`[variablename]` seems to be the standard for webpack, so replacing the weird `%%variablename%%` syntax with that might make sense for newcomers to the codebase.

[2016-02-04 21:40] #5 closed

[2016-02-04 21:44] mxstbr commented on #7
@jantimon any objections?

[2016-02-04 23:16] mxstbr opened #10 "Design"
We need a designer. If this wants to be a success, it needs to be easily useable, feel great and look amazing and well thought out.

Drop the plugin into your webpack configuration, tell us where your components are and we'll make you the most easily usable and most beautiful styleguide you've ever seen. That's how it should be.

[2016-02-04 23:20] mxstbr opened #11 "Options"
We need to give developers a few options to make it more customisable. Lets make a list:

# CarteBlanche Options

You can specify a few different options for this plugin:

- `componentRoot` (required): Folder where all of your component files are.

[code]

- `dest` (default: `'styleguide/index.html'`): Change the location of the styleguide. Needs to be a HTML file.

[code]

- `plugins` (default: `

[2016-02-04 23:26] mxstbr opened #12 "Roadmap"
**Development Alpha**

- [x] Get all components into the client and render them
- [x] Navigation
- [x] PropTypes parsing
- [x] Display meta informations
- [x] Load components on demand and not on first load
- [x] Examples
- [x] Flow parsing
- [x] Fuzz testing by adding react-pure-ui to the client
  - [x] Primitives
  - [x] Arrays
  - [x] Objects
  - [x] Nested Arrays
  - [x] EnumControl
  - [x] ma

[2016-02-05 07:28] jantimon commented on #7
good idea to change it. %%name%% was just the first approach to get it working
`[variablename]` is valid javascript and might replace "real" javascript of entry.js so we should probably look for something else.

[2016-02-05 07:59] nikgraf commented on #12
Things up for discussion:

- allow to overwrite the Page component so people can customise it
- generate various states based on comments examples/fixtures data (How does it work with ImmutableJS?)

[2016-02-05 08:00] nikgraf commented on #11
Agreed on both.

- `pageComponent` would also be good

[2016-02-05 08:01] nikgraf commented on #10
Agreed, I have a few potential candidates, but I suggest to move it a bit further until we ask them.

[2016-02-05 08:02] nikgraf commented on #7
agreed @jantimon - any suggestions?

[2016-02-05 08:03] nikgraf commented on #2
I will close this as we spread the discussion of multiple issues.

[2016-02-05 08:03] #2 closed

[2016-02-05 08:44] jantimon commented on #7
In the end the entry.js is a template - maybe we could precompile it with a lightweight template engine to increase the readability and it's easier to understand that it's just a template for the component entry point.

[2016-02-05 08:56] jantimon commented on #10
Agreed - right now the project is very technical. As soon as we got a working example out of several components it's way easier to understand and design.

[2016-02-05 08:57] jantimon commented on #11
We might allow to change the `client.js` so someone could build a client library for his specific use case.

[2016-02-05 08:59] jantimon commented on #11
Exclude might not be necessary as we use minimatch and could use the negative selector a little bit like grunt:

[code]

[2016-02-05 10:54] mxstbr commented on #11
Good idea about the swappable client. :+1: Not sure how we'd facilitate swapping the `componentPreview` (prev. `pageComponent`) in the bundled version of the client though.

[2016-02-05 11:30] mxstbr commented on #7
What about something like this: http://ejohn.org/blog/javascript-micro-templating/

[2016-02-05 12:05] mxstbr opened #15 "Usage flow"
This is how I imagine the setup for the plugin works which, at the same time, is the text that will be in the README. (names dependent on https://github.com/pure-ui/react-pure-ui/issues/3)

----

# Setup

Setting up pluginname is an easy two-step process:

1. Install the plugin with `npm install --save-dev pluginname`

2. Add it to the plugins in your development webpack configuration, specifying

[2016-02-05 13:47] jantimon commented on #15
I like it. keep it short and simple :+1:

[2016-02-05 14:10] jantimon commented on #7
Can we use `with` together with webpack 2.0?

[2016-02-05 14:32] mxstbr commented on #7
What would you use it for here?

[2016-02-05 14:46] jantimon commented on #7
The microtemplating and the lodash template (which is based on johns micro templating) use it

[2016-02-05 17:59] nikgraf commented on #15
yes, let's include --save-dev. I always copy commands and then notice later that I forgot to add `--save-dev`.

Less context + link to an example right away.

[2016-02-05 18:06] nikgraf commented on #11
What we could do:

1. Allow to overwrite just `componentPreview`.
2. Allow to overwrite just `client` own client.
3. Allow to overwrite `componentPreview` & `client`. Providing both doesn't make sense, becaue if you overwrite the client you most likely build your own `componentPreview` anyway. This solution is more flexible, but I can imagine it will lead to a lot of confusion. We can help it by t

[2016-02-05 22:19] mxstbr commented on #15
Less context would be:

[code]

I think the context is fine, but I agree with linking to an example right away!

[2016-02-06 08:02] jantimon opened #20 "Improve lazy loading"
Right now there are two big issues with the lazy loading:

`load` will load the same component over and over again (we need to store which components have already started loading)
https://github.com/pure-ui/styleguide/commit/1c1a4d4ffcbd5eca9c49ee68788e569a50a2943f#diff-5cc289fea71faec951e6ddaff037fbbfR5

the client-api should move to the client folder - so we can use es6 and have the client code

[2016-02-06 11:49] mxstbr commented on #20
Don't we already have that stored in the `cache`? It should be sufficient to wrap the whole content of `load`:

[code]

[2016-02-06 13:13] mxstbr commented on #11
I like having the options to override both the full client and specific parts. The API needs to make that perfectly clear from the start though, but I think that's possible.

This is how I imagine you'd override the whole client:

[code]

But you can also only override specific parts of the client like this:

[code]

That would make it clear that you can override both the client and specific parts

[2016-02-06 13:16] mxstbr commented on #11
Also, a question we have to answer if we want to support this feature is how do we swap out a single part of the client, do we want the compiled ES5 compatible version bundled with React or do we want the ES6 non-compiled version with `import`s and all that.

[2016-02-07 20:08] nikgraf commented on #15
You first suggestion looked pretty good to me :+1:

[2016-02-07 20:10] nikgraf commented on #11
I like the API design!

[2016-02-08 07:29] jantimon commented on #20
The idea is good however if the script loading takes a moment cache will still be empty and calling load again will start a second script loading.

[2016-02-08 08:30] mxstbr commented on #20
@jantimon let's have a second variable next to cache called loadStarted and set loadStarted[name] to true. Then we can check it inside the load function

[2016-02-08 08:37] jantimon commented on #20
Sounds good

[2016-02-08 22:39] nikgraf opened #23 "Examples syntax"
In PR https://github.com/pure-ui/styleguide/pull/22 I added 2 more advanced example.

I think by introducing the opportunity to run code before rendering the JSX we can cover all sensible cases a component create might want to demonstrate.

I see 3 options:

1. exampleFixtures is not a valid jsdoc tag, but I think that's not too big of a deal
2. we could have an separate `@exampleFixture` for each

[2016-02-08 22:49] mxstbr commented on #23
I think the third option is fine.

[2016-02-09 04:09] nikgraf opened #25 "Add chai-enzyme for testing components"

[2016-02-09 04:09] nikgraf opened #26 "Add util-function to identify if a string is JSX or a module"

[2016-02-19 23:08] nikgraf commented on #12
I updated the Roadme to be split in Alpha dev & later

[2016-02-20 23:44] mxstbr commented on #23
@JedWatson just had a brilliant ideas for examples, instead of putting them in the comments you have an `add` function you can import:

[code]

**Pros**

- Fixtures are already there, if you're using ImmutableJS, it'll already be imported
- We don't need to use react-docgen/webpack, this works for everything

**Cons**

???

[2016-02-29 09:47] nikgraf opened #41 "Solid props table based on the propTypes"
There is a pretty cool tool: https://github.com/FormidableLabs/ecology

If they expose the props table as function/component we can simply use theirs. If not we can copy it over to here.

see live example at the bottom: http://victory.formidable.com/docs/victory-label

Might now be the end solution, but way better for now.

[2016-02-29 09:49] nikgraf opened #42 "Improve ArrayControl"
Allow to add an entry at the end. -> big plus icon
All to remove an entry from the end. -> big minus icon next to the plus

[2016-02-29 09:53] nikgraf opened #43 "Allow to store & retrieve certain component setups in the local storage."
I image a user creates a component state that looks interesting. Allow her/him to save this state and it should be loaded next time the user comes back.

I imagine you build a certain state in the form. If you want to save this state for later you should simply be able to.

[2016-02-29 09:55] nikgraf opened #44 "Allow to collapse the controls form of every playground styleguide"
This is based on the idea here: https://github.com/pure-ui/styleguide/issues/43

[2016-02-29 10:31] mxstbr commented on #41
They use https://github.com/FormidableLabs/component-playground for the playground, we could take a look at simply integrating that.

[2016-02-29 18:42] nikgraf opened #45 "Allow us to also manage/inject state in the styleguide (in examples & playground)"
@skidding already has done some work in this here: https://github.com/skidding/react-component-tree

you can see it working in cosmos

[2016-02-29 19:56] nikgraf commented on #41
:+1:

[2016-02-29 20:45] nikgraf opened #46 "Atom Plugin"
Brainstormed with @skidding

On the left side there could be the component. Eventually the fixtures if they are split into another file. On the right side you have the component preview.

The easily achieve this it would make sense to:
- allow disabling/hide the navigation via a url query
- also the the absolute path for the component next to the relative one
  - the relative path is important to

[2016-02-29 20:47] nikgraf opened #47 "UI structure for the Playground"
To create a stable environment @skidding suggested to have the structure on the left side & align the fields on the right side.

Sounds like a fine suggestion to me.

![img_9490](https://cloud.githubusercontent.com/assets/223045/13408415/94785e64-dee2-11e5-863f-2b98f16cee66.JPG)

[2016-03-01 18:22] mxstbr opened #48 "Random Data"
Maybe use http://blog.danibram.es/mocker-data-generator or faker.js directly

[2016-05-09 16:04] mxstbr commented on #43
Proposal for the state saving:

[code]

[2016-05-13 08:48] mxstbr commented on #11
New option:

- `plugins` (default: `PlaygroundPlugin`): An array of plugins or `"default"` to

[code]

[2016-05-13 08:49] mxstbr commented on #11
The options that need to be there for launch are: `src` (done), `dest` and `plugins`. Overriding the client isn't the highest priority for the first announcement.

[2016-05-13 09:36] mxstbr commented on #11
## Playground Plugin Options

- `port` (default: 8000): The port the playground variations server should run at.
[code]

- `domain` (default: `localhost`): The URL the playground variations server runs at.
[code]

Can you think of a better name for "domain"?

[2016-05-13 11:26] #48 closed

[2016-05-13 11:26] #47 closed

[2016-05-13 11:26] #44 closed

[2016-05-13 11:26] #43 closed

[2016-05-13 11:27] #41 closed

[2016-05-13 11:27] #23 closed

[2016-05-13 13:23] JedWatson commented on #23
@nikgraf @mxstbr aah, nostalgia

[2016-05-19 08:29] busypeoples commented on #26
In what context would this be needed?
Is this a suitable test situation?

[code]

[2016-05-19 09:44] nikgraf commented on #26
This is an outdated feature request we had from a time when we planned to show examples in a different way.

[2016-05-19 09:44] #26 closed

[2016-05-19 09:45] nikgraf commented on #25
Already fixed by @busypeoples 😄

[2016-05-19 09:45] #25 closed

[2016-05-19 12:00] busypeoples commented on #42
Check the reference implementation.
https://github.com/busypeoples/styleguide/blob/improve_array_control/plugin/default-plugins/playground/frontend/components/controls/ArrayControl/index.js#L20

The problem here is that you might or might not receive an according to the required propTypeData. This also means that you might click on the plus icon and not receive a new entry.

[2016-05-20 05:51] nikgraf commented on #42
@busypeoples In this case you could extend the propType data with required: true. We fixed that last night. There should be no second argument for randomValue.

[2016-05-20 16:15] nikgraf opened #91 "Add ConstraintsForm for StringControl"
You might find this useful as a simple base example: https://github.com/pure-ui/styleguide/tree/master/plugin/default-plugins/playground/frontend/components/controls/IntegerControl/ConstraintsForm

Simple interesting options:
- minLength
- maxLength

Feel free to extend it by whatever comes to your mind like `includeHashtags`.

[2016-05-20 18:42] nikgraf opened #94 "Allow for custom Controls"

[2016-05-21 14:06] busypeoples opened #97 "Add Test Coverage"

[2016-05-21 20:24] nikgraf opened #101 "Custom Controls"
Which one do you prefer?

[code]

[code]

[code]

[2016-05-21 20:30] mxstbr commented on #101
I like three the most!

[2016-05-22 23:36] nikgraf opened #115 "Update Variation"
Extract `variationToProps` from `variationsToProps` and use it to properly update the variation

https://github.com/pure-ui/styleguide/blob/15ad92bc9d0cc0ca83974e14bc8b5575edd3044b/plugin/default-plugins/playground/frontend/components/PlaygroundList/index.js#L71

[2016-05-22 23:39] nikgraf opened #116 "Import socket.io.js from relative path"
Right now we injected `http://localhost:8000/socket.io/socket.io.js`. Ideally we use a relative import.

original PR https://github.com/pure-ui/styleguide/pull/110/files

[2016-05-22 23:43] busypeoples commented on #97
We will need a strategy here. function.toString() seems to cause troubles in an instanbul context. This will break the propsToVariation function tests.

https://github.com/gotwarlost/istanbul/issues/310

[2016-05-23 09:27] mxstbr opened #117 "Client build generate .css file"
The client bundle should also generate a single `.css` file that we can then inject into the site, instead of using the `style-loader`.

[2016-05-23 11:19] nikgraf commented on #97
@busypeoples
@neuling had the idea to potential call these function with an apply. This would fix the test and potential avoid context issues on the front-end?!?

[2016-05-23 11:50] busypeoples commented on #97
Sounds good. Let's give it try. Avoiding function.toString(), will definitely fix this specific issue. All other tests work out of the box with istanbul.

[2016-05-23 12:29] mxstbr commented on #116
Done in b80f8ed4c049c37391e3d9f3590bd11d359747d4!

[2016-05-23 12:29] #116 closed

[2016-05-23 12:48] nikgraf opened #122 "Name constraints.type doesn't work"
see profile example

[2016-05-23 12:49] nikgraf opened #123 "Make variation cards to expand instead of scroll"

[2016-05-23 13:01] nikgraf opened #125 "Find a good strategy to deal with decorated components"
I encountered the issue while trying to fix the JSS example.

[code]

One strategy could be that `useSheet` also exposes the propTypes, but then I guess it still won't work with FlowTypes. Any ideas? /cc @kof

[2016-05-23 13:03] nikgraf commented on #125
Hmmm @mxstbr just made a good point. react-docgen parses the source and does a AST analysis. It might be possible to improve react-docgen in that case.

[2016-05-23 18:28] neuling commented on #123
i will give it a try!

[2016-05-23 20:32] nikgraf opened #126 "Refs don't work in Plugin"
While refs work in the client (tested in Navigation) they don't in plugin. Haven't tested it for the components, but that would be a pretty important issue to fix.

Thx @neuling for pointing it out.

[2016-05-23 20:36] neuling commented on #126
it throws the following error message:

see here for details: https://gist.github.com/jimfb/4faa6cbfb1ef476bd105

[2016-05-25 22:03] busypeoples commented on #97
I think we can close this issue. All tests run through. @nikgraf

[2016-05-26 06:16] #97 closed

[2016-05-26 08:57] #122 closed

[2016-05-26 08:58] nikgraf commented on #115
Not needed anymore as we simply refetch all the variations

[2016-05-26 08:58] #115 closed

[2016-05-26 08:59] #123 closed

[2016-05-26 08:59] #125 closed

[2016-05-26 09:01] nikgraf opened #131 "Make inputs that work well with undefined/null values"
Currently controlled Inputs show warnings in case null/undefined is provided. We need to make sure there is an input type that works well.

Most probably a higher order component or a component that takes a component.

[2016-05-26 09:01] nikgraf opened #132 "Use a nice Select for Enums and Metadata selection"

[2016-05-26 09:02] nikgraf opened #133 "Display propType & custom controlType in the variation"

[2016-05-26 09:03] nikgraf commented on #101
decision made 👍

[2016-05-26 09:03] #101 closed

[2016-05-26 09:04] nikgraf opened #134 "Make sure variations are store with relative paths"

[2016-05-26 09:05] nikgraf opened #135 "Dynamic host & port"
Also pick another default port for the server instead of 8000. Maybe even try to determine which one is available …

[2016-05-26 09:05] nikgraf opened #136 "Dynamic Path for variations"

[2016-05-26 09:06] nikgraf opened #137 "Test & handle for broken meta file"

[2016-05-26 09:06] nikgraf opened #138 "Test & handle broken variations files"

[2016-05-26 09:08] nikgraf opened #139 "Add an example project using https://github.com/Khan/aphrodite"

[2016-05-26 09:08] nikgraf opened #140 "Add an example using React-Look"
https://github.com/rofrischmann/react-look

[2016-05-26 09:09] nikgraf opened #141 "Implement nested PropTypes / FlowTypes"

[2016-05-26 09:11] nikgraf opened #142 "Make it work with ExtractTextWebpack plugin"

[2016-05-26 09:11] nikgraf opened #143 "Make it work with HotReloading"
There is already the dev server in there and hot reloading works. We still need to make sure only the components are refreshed and not the whole system.

other tasks:
- [x] add option for hot reloading
- [x] identify port automatically and use this one
- [x] identify if it also works with the middleware. if not add note to FAQ and as for help

[2016-05-26 09:12] nikgraf opened #144 "Style Metadata form"

[2016-05-26 09:12] nikgraf opened #145 "Style Variation Form"

[2016-05-26 09:15] nikgraf opened #146 "Add an example app: User Management"
A simple list which can be filtered by: name & 2 checkboxes

There is a detail view for a user + some events.

[2016-05-26 10:46] nikgraf opened #149 "Make sure people can configure plugins instead of having them configured in the core"

[2016-05-26 12:57] #134 closed

[2016-05-26 12:59] #136 closed

[2016-05-26 14:06] nikgraf opened #152 "Implement adding & removing entries to an array/object"

[2016-05-26 14:07] nikgraf opened #153 "Implement custom Immutable Map control & support for Immutable datastructures"

[2016-05-26 14:48] nikgraf opened #154 "Add a description field to a variation"
Would be nice if it would support Markdown. This way people can add additional information to a certain variation.

[2016-05-26 14:55] #10 closed

[2016-05-26 14:55] nikgraf commented on #10
We already have a couple people contributing to design. Let's open up more focused issues.

[2016-05-26 16:29] nikgraf opened #155 "Close Modal on ESC"
Bonus: restructure the Modal so the closing x is always on the top right

[2016-05-27 08:23] nikgraf commented on #146
It's a bit like google contacts. this is quite independent

@busypeoples @neuling interested to help out?

[2016-05-27 09:00] #149 closed

[2016-05-27 09:02] #155 closed

[2016-05-27 10:10] nikgraf commented on #141
Array is missing

[2016-05-27 10:13] mxstbr commented on #135
Done in #161!

[2016-05-27 10:13] #135 closed

[2016-05-27 14:48] mxstbr commented on #11
New ReactPlugin option, implemented in #163:

- `variationFolderName` (default: `variations`): The name of the folder that stores the variation files.
[code]

Any better name ideas? I'm not a big fan of `variationFolderName`.

[2016-05-27 16:03] nikgraf commented on #11
@mxstbr Can you change default port from `8000` to something else? 8000 is heavily used from other dev envs.

[2016-05-27 21:01] nikgraf opened #166 "Remove existing style nodes"
[code]

[2016-05-28 13:32] #139 closed

[2016-05-28 13:33] #133 closed

[2016-05-28 13:41] mxstbr commented on #140
Implemented in #171, but not merged.

`react-look` needs the root component of the app to be wrapped in a `LookRoot` component. This would only be possible in the ReactPlugin if we add a special case for it, which imo isn't worth the added complexity. (Who thought that was a good idea anyway…)

Closing for now, might reopen again at a later date if more people start using it.

[2016-05-28 13:41] #140 closed

[2016-05-28 13:42] mxstbr opened #172 "Keyboard Controls"
We need keyboard controls to quickly navigation around the plugin:

- [x] `ESC`: Closes the ReactPlugin Modal if one is open
- [x] `ESC`: Toggles navigation if no ReactPlugin Modal is open
- [x] `⌘+⇧+ARROW UP`: Go one item up in the navigation, either a focus a variation or go to the previous component
- [x] `⌘+⇧+ARROW DOWN` Go one item up in the navigation
- [x] Make both CMD and CTRL work for wi

[2016-05-28 22:47] #137 closed

[2016-05-28 22:47] #138 closed

[2016-05-29 01:56] #7 closed

[2016-05-29 13:26] #172 closed

[2016-05-29 15:35] busypeoples opened #187 "Deeply nested ArrayOf of ArrayOfs"
At some point the meta data generation fails. This happens mostly when creating 3 or 4 level deep ArrayOf combinations.

[2016-05-29 15:57] #187 closed

[2016-05-29 15:58] #42 closed

[2016-05-29 16:08] mxstbr commented on #187
:tada:

[2016-05-29 20:32] busypeoples opened #191 "Reset Custom Meta Data"
It would be helpful to have a reset option for everyone property inside the custom meta data form.
It should revert back to the original PropType Component definitions.

[2016-05-29 20:47] mxstbr commented on #191
Good idea!

[2016-05-30 07:53] nikgraf opened #193 "Shutdown node sub-process properly"
We fork a new process to start the server for the variations. We noticed on different environment and node versions the sub-process keeps running when we kill the main process.

[code]

Implement a manual shutdown to make it work for all versions: http://stackoverflow.com/a/14032965/837709

[2016-05-30 10:29] okonet opened #195 "Filter input doesn't act like a search input"
1. Focus "filter" input and start typing to filter components
1. Press ESC to clear the search (default `<input type="search" />` behavior)

See how sidebar is hidden instead of resetting input value.

Also, it would be great to have the standard appearance with "reset" button (×) on the right side for this input to keep the affordance.

[2016-05-30 10:43] okonet opened #197 "UI issues"
- [ ] Home page is kind of pointless ATM. I'd suggest using this page to display all added components from styleguide. I'm also not sure about having separate pages for each component. I think it would make more sense for styleguide consumers to be able to scroll through the style guide without clicking. In this case, the navigation could act as a TOC with an affix (http://getbootstrap.com/javascr

[2016-05-30 11:17] mxstbr opened #198 "404 page in client"
When opening the URL of a component that doesn't exist (e.g. `localhost:8080/styleguide/#/some/blabla/not/a/component`) then you're only greeted with a white page. We should add a 404 page by adding this route to `client/client.js` after all component routes:

[code]

Where `FourOhFour` refers to a component in the client.

[2016-05-30 11:31] #193 closed

[2016-05-30 12:31] nikgraf commented on #195
sounds good, wanna take it @okonet?

[2016-05-30 12:34] okonet commented on #195
I could try. It might conflict with #185 though.

[2016-05-30 12:37] mxstbr commented on #195
It shouldn't if you do `evt.stopPropagation()`!

[2016-05-30 12:40] okonet commented on #195
Since this is the built in feature, I'd opt-in for filtering the event handling out from the custom handler #185  has introduced as re-implementing this behavior on my own for the `input`.

[2016-05-30 18:51] nikgraf opened #207 "Improve the Add Variation Form"

[2016-05-30 18:52] nikgraf commented on #197
@okonet this would get us to crazy file renaming issues and we might do it sometime in the future:  IMO pressing on the "+" should just add a component without asking for a title

[2016-05-30 18:53] nikgraf commented on #207
@okonet has a nice suggestion, but feel free to come up with your own UX:  Pressing on the "+" displays input. It is not focused by default, so you can't start typing without focusing it with the mouse firstly... (see next one for even better fix)

[2016-05-30 19:16] nikgraf commented on #166
Going to be irrelevant, because we will render it in an iFrame

[2016-05-30 19:16] #166 closed

[2016-05-30 19:16] nikgraf commented on #152
@busypeoples is on it

[2016-05-30 19:17] #145 closed

[2016-05-30 19:18] #131 closed

[2016-05-30 19:18] #132 closed

[2016-05-30 19:18] #117 closed

[2016-05-30 19:19] nikgraf commented on #20
not relevant anymore as we changed the architecture …

[2016-05-30 19:19] #20 closed

[2016-05-30 19:47] okonet opened #209 "Add a link back to the application"
Right now there is no way to navigate back to the app UI without altering the URL. Probably a link somewhere?

[2016-05-30 21:32] nikgraf commented on #209
yes please!

[2016-05-31 07:33] okonet commented on #207
@nikgraf you mentioned that currently this will cause troubles with file names. I'm wondering why not just use some generated file names? We could come up with some template for it like, `[ComponentName]_variation[1...n].js` to resolve this one. This would improve the UX significantly since coming up with a name even before you added a component isn't a perfect workflow IMO.

To me, the whole poin

[2016-05-31 08:42] nikgraf commented on #207
@okonet totally agree with the UX part.

Some more thoughts:
- We have to see the file names as IDs in a distributed system as they are checked into Github.
- Changed file names + changes in the same file are way harder to manage/merge in Git when having conflicts.
- If we allow changing file-names people will have a hard life merging.
- We want to have human readable file-names so people easily c

[2016-05-31 08:55] okonet commented on #207
My concerns about having filenames as ids is exactly the reason one can't have 2 or more variation with the same title. Right now it also makes it impossible to rename variations without going through git, which is clearly not optimal, keeping in mind the points from above.

This is I think having some generic names like `ComponentName_var1` can solve all these issues:

* They are still readable a

[2016-05-31 09:17] nikgraf commented on #207
I like the idea of [1...n]. One use-case bothers me:

Two people create 3 variations on their own machine. Both open a PR. The person who now merges master into her/his branch sees them as conflicts. Variation one from person A might be what person B intended to show with the second variation. I believe this is hard to resolve, but just looking at the files or did I miss something here or even mis

[2016-05-31 10:10] okonet commented on #207
Sure, incremental keys won't work for such cases. Hashes won't solve it either, having the downsides you mentioned as well. My question if we should optimize for such edge cases. Sounds more like a premature optimization to me... I'd stick with a simplest solution that improves UX for now.

[2016-05-31 10:50] nikgraf opened #215 "Fix ComboBox behaviour"
It should pretty much behave like React-select.

- Until filtering in the Input the placeholder show the selected result
- onChange only fires when something was selected
- clicking on it or returning to an empty string should expand the full list
- make the expanded list scrollable

[2016-05-31 10:55] nikgraf opened #216 "Document hot option"
Can be set to false to completely disable hot reloading of the client, or to true to force us to include it. (otherwise we try to auto detect it)

Ref #205

[2016-05-31 15:48] mxstbr opened #217 "Document asset pipeline"
[code]

[2016-05-31 16:02] mxstbr opened #218 "Better error message if componentRoot doesn't exist"
Right now everything just crashes and there's no clear error message, which can be very frustrating.

[2016-05-31 16:29] mxstbr opened #220 "Document files option"
Users can add custom .js and .css files to the client with the files option, e.g.

[code]

[2016-05-31 16:59] #195 closed

[2016-05-31 18:47] nikgraf commented on #207
hmmm, I believe people working simultaneously on the same codebase and even same component/variations is not an edge case in teams with more then a handful of people. I might be wrong …

[2016-05-31 19:10] mxstbr commented on #143
Done.

[2016-05-31 19:10] #143 closed

[2016-05-31 19:11] #6 closed

[2016-05-31 19:15] mxstbr opened #223 "Chrome Extension"
I'd love to see my atrium right next to my application itself, making adding variations exactly in the way they broke really easy!

[2016-05-31 19:15] mxstbr opened #224 "Relay support"
We _should_ be able to parse some information from Relay definitions.

[2016-05-31 19:16] mxstbr opened #225 "Warn for common performance pitfalls in components"

[2016-05-31 19:17] mxstbr opened #226 "Make the edit mode linkable"
Right now, I can't directly go to the edit mode of a specific variation just by entering a URL.

[2016-05-31 19:18] mxstbr opened #227 "Display the git status and controls in the UI"
Variations could show if they're uncommited or stashed, and let people do those actions straight from the interface. This'd mean that designers, marketers,… could all add new variations w/o having to use the command line. (uah!)

[2016-05-31 19:20] mxstbr opened #228 "Undo/redo buttons for randomly generated data"
When quickly clicking through and generating random data I sometimes click past an interesting state. It'd be great to have undo/redo buttons for that sort of thing.

[2016-05-31 19:21] mxstbr opened #229 "Edit PropTypes in the interface"
It'd be amazing if we could add, remove and edit PropTypes _from the user interface_ and them being saved to the component!

[2016-05-31 19:22] mxstbr opened #230 "Show a warning if a variation's prop is not in the new constraints range"
E.g. if I have a variation with a propType called `age` that's set to "200", and I set the max number to "100", it should show a warning.

[2016-05-31 19:28] mxstbr opened #231 "Fix variation data jumping back to a previous state after it's persisted"
1. Change some variation data
2. ~500ms afterwards try changing it again
3. Because the data was just persisting, when the request is done the data jumps back to a previous state

Getting this bug might take a few tries, but you're going to notice it when you have it!

[2016-05-31 19:29] mxstbr commented on #12
Closing as the remaining points were split across multiple issues.

[2016-05-31 19:29] #12 closed

[2016-05-31 19:37] mxstbr opened #232 "Fix having to go /carte-blanche/ (trailing slash)"
Currently, you have to go to `/carte-blanche/` to see it, but `/carte-blanche` should also work.

[2016-06-01 01:22] DavidWells opened #237 "Add Components to Homepage"
I was trying to figure out how to get the first example from each component to render on the homepage here: https://github.com/pure-ui/styleguide/blob/master/client/components/App/index.js#L131

Looks like this.props.components has the data but I'm not sure if this is the right place to hook in (b/c the react stuff is coming in via the plugin setup)

Is this something that is wanted? -> Listing th

[2016-06-01 06:55] nikgraf commented on #237
Yes, let's do that. Getting the first path of `this.props.components` is the right place to get out the path.

[2016-06-01 06:55] nikgraf commented on #237
@DavidWells I'm currently working on subnavigation for components. Shouldn't clash with this, but just to let you know 😄

[2016-06-01 06:57] nikgraf commented on #229
woahhh, that would be great. Same goes for flow. A first step could be to generate code that can be copied …

[2016-06-01 06:58] mxstbr commented on #237
I think we should maybe just show a list of components to keep the client free of ReactPlugin specific code. (or have a hook for plugins to display things on the homepage?)

[2016-06-01 07:32] mxstbr opened #239 "Confirmation when deleting a variation"
Currently, we just delete it, but we should show a confirmation message before getting rid of a variation. (or have an "Undo"  button somewhere)

[2016-06-01 08:08] okonet commented on #207
My point is: I wouldn't sacrifice the UX of all users in favor of teams optimizations or merge conflict resolution. But I might be wrong either. @nikgraf what were the issues with storing variations in one file? Looks like it should not have those issues?

If this is 1 JSON file, we could use uids for variations, have same names (titles) and even add a custom `order` parameter, so it doesn't get a

[2016-06-01 08:30] nikgraf commented on #237
In what way is it related to the ReactPlugin? Redirecting to the first component as default should be only client (webpack plugin) related.

[2016-06-01 08:32] nikgraf opened #240 "Disable HMR (at best only in the iFrames)"
Reading 10 times that a recompilation just started is not that helpful. :stuck_out_tongue_winking_eye:

[2016-06-01 08:38] nikgraf opened #241 "Improve loading speed"
Not sure how & where, but I hope on a local machine it should be possible to speed it up.

[2016-06-01 08:43] mxstbr commented on #237
Oh I thought the idea was to render the first variation of each component on the homepage!

[2016-06-01 08:55] nikgraf commented on #207
good point, this could work well …

[2016-06-01 08:55] nikgraf commented on #237
Ups, sorry my fault. I misunderstood. Yeah I wouldn't do that either. Makes the whole system tied together too much …

[2016-06-01 09:35] mxstbr opened #242 "Props controlled by selects can't be randomized"
It always shows undefined, and when you click on the input it says `[object Object]`.

[2016-06-01 09:43] nikgraf commented on #195
👍

[2016-06-01 10:27] nikgraf commented on #198
@mxstbr can we close this?

[2016-06-01 10:47] mxstbr commented on #198
Yessir!

[2016-06-01 10:47] #198 closed

[2016-06-01 11:47] nikgraf opened #244 "Add a button to unmount & remount a component"
Add a button to unmount & remount a component.

This is useful if people use `defaultValue`.

[2016-06-01 12:32] okonet opened #246 "User Interface"
I've been thinking about the UI lately and here are my thoughts.

## Problems we are trying to solve

1. Watch the UI in multiple different states simultaneously
1. Play with parameters and see how UI changes (i.e. playground)
1. See how the UI behaves with edge cases (and generate these automatically)
1. Generate a styleguide that can be used by a team as a reference

## Mockups

### Extended nav

[2016-06-01 12:42] mxstbr opened #247 "Fix Keyboard Shortcuts"
In `client/components/App/index.js` we still refer to the old `window.STYLEGUIDE_PLUGIN_CLIENT_API.scripts`. It should suffice to change that to `this.props.components` to make `CMD+SHIFT+ARROW DOWN` and `CMD+SHIFT+ARROW UP` work again!

[2016-06-01 13:04] mxstbr opened #248 "Filtering input styling problem"
The home button should not have a black border at the bottom like that:

<img width="286" alt="screen shot 2016-06-01 at 15 04 05" src="https://cloud.githubusercontent.com/assets/7525670/15710395/26ab819c-280a-11e6-90ae-4531f0024cf8.png">

[2016-06-01 13:30] mxstbr opened #250 "Error and warning messages should be prefixed with plugin name"
E.g. `[ReactPlugin] There is a problem here`, `[CarteBlanche] This option is deprecated`…

We should think about introducing a shared logging util in `carte-blanche-utils` so we have a common style.

[2016-06-01 13:59] nikgraf commented on #146
how to start:

[code]

[2016-06-01 14:10] nikgraf commented on #146
# Pages

- [ ] UserList (has multiple UserPreview & a the AddUser component)
- [ ] UserDetail shows the avatar, firstName, lastName

OtherComponents

- [ ] UserPreview (shows the avatar, firstName, lastName)
   - clicking on a UserPreview redirects to UserDetail
- [ ] AddUser (has a form to a firstName & lastName & url to avatar)
    - every time a new user is added the form is reset

[2016-06-01 15:21] okonet opened #252 "Usecase: i18n"
I've just stumbled upon this article about the AirBnb's Airshot tool: http://www.fastcodesign.com/3060312/airbnbs-secret-tool-for-designing-for-every-person-on-the-planet/5 and I was wondering if this can be also a good use case for the library.

[2016-06-01 15:40] nikgraf commented on #242
fixed here: https://github.com/pure-ui/carte-blanche/pull/253

[2016-06-01 15:40] #242 closed

[2016-06-02 06:58] mxstbr opened #257 "Fix ReactPlugin files option properly"
[code]

[2016-06-02 12:32] FezVrasta opened #259 "Mockups for the UI"
http://imgur.com/a/yI7xF

I had sent them to @mxstbr but seems like he's quite busy lately, so I'm posting them here.

Feedbacks?

[2016-06-02 12:48] mxstbr commented on #259
Ah sorry, I must've missed your message, I'm really sorry! My bad! :-1:

I'm not a big fan of the material style, it looks kind of inunique. While I don't fully agree with everything said there, I like #246 more as a general direction. What do you think?

[2016-06-02 12:51] FezVrasta commented on #259
We have to admit that both the mockups looks pretty anonymous... Between the two, I prefer the material design style, but it's personal preference.

[2016-06-02 12:52] FezVrasta commented on #259
We could adopt the solution of #264 which seems better in terms of UX, and improve the styling of it when the basic markup is ready?

[2016-06-02 13:08] mxstbr commented on #259
Sounds reasonable. We have to release on friday, so we're going to do it the way it is right now but I'm open to explorations after that!

[2016-06-02 15:19] mxstbr opened #267 "Document injectTags option of the ReactPlugin"
[code]

Injects these tags into the iframes of the rendered components. Useful for webfonts etc.

[2016-06-02 15:20] #232 closed

[2016-06-02 18:06] nikgraf opened #273 "Migrate inline styles in ComboBox to css modules"
Then you can deprecated `injectStyles`

[2016-06-03 10:22] johann-sonntagbauer opened #281 "React-Plugin port parse validation"
When setting a port on the React-Plugin the validation mechanism only accepts NaNs :smile:

[code]

[code]

[2016-06-03 12:00] FezVrasta opened #283 "Module not found: Error: Can't resolve 'exenv'"
Probably it should be included in `package.json`?

After installing it with `npm i -D exenv` it started properly

[2016-06-03 12:01] Anahkiasen commented on #283
Same thing happening here

[2016-06-03 12:04] FezVrasta opened #285 "Add CommonsChunkPlugin support"
I'm using `react-boilerplate`, when I add `carte-blanche` and I visit `/carte-blanche` I get

[code]

How can I fix it?

[2016-06-03 12:19] mxstbr commented on #285
That's because `react-boilerplate` uses the `CommonsChunkPlugin`. Use the `injectTags` option of the `ReactPlugin` to inject `<script src="common.js.js"></script>` (yeah, that `.js.js` is a bug…) and it _should_ work!

[2016-06-03 12:19] mxstbr commented on #283
Thanks, adding it now!

[2016-06-03 12:19] #283 closed

[2016-06-03 12:19] #281 closed

[2016-06-03 12:20] mxstbr commented on #281
Fixed in #282, thanks!

[2016-06-03 12:20] Anahkiasen opened #286 "dest option not working as expected"
I tried boiling down my test to the bare minimum but I still can't seem to get this to work, is there anything I'm doing wrong here?

**webpack.config.js**
[code]

**CategoryIcon.js**
[code]

**.babelrc**
[code]

This is what I get when I compile:

[code]

I can see the files in `/dist/carte-blanche` but when I go to http://localhost:8082/ or http://localhost:8082/carte-blanche/ all I get is `Cann

[2016-06-03 12:22] mxstbr commented on #286
We shouldn't be outputting the `localhost:8082` line, that's where we run our Node.js server!

Instead, go to where ever you run your local server (e.g. `localhost:8080/carte-blanche`) and it's going to work!

[2016-06-03 12:38] Anahkiasen commented on #286
@mxstbr Yes and no, it's generating the HTML with paths such as `/carte-blanche/client-bundle.css` but in my case the files are output in `/dist/carte-blanche` so the paths are incorrect. If I change the `dest` option to `/dist/carte-blanche` then it just generates them in `/dist/dist/carte-blanche`.

Additionally I'm using HMR on my Express server like documented:

[code]

But since CB is blockin

[2016-06-03 12:46] mxstbr commented on #286
Oh no, that's definitely a bug, our bad, that should definitely not be the case! Let me reopen this and we'll look into it!

[2016-06-03 12:48] Anahkiasen commented on #286
Actually strike that, editing the paths in the HTML doesn't work, I mean Carte Blanche works but none of the components show up, it seems to still be pinging the old path:

![screen shot 2016-06-03 at 14 47 37](https://cloud.githubusercontent.com/assets/1321596/15779019/245e758e-299a-11e6-863d-e5695402dfbb.png)

Making the paths relative should work maybe? Like `src="user-bundle.js"` that way no m

[2016-06-03 13:08] FezVrasta commented on #285
Like this?

[code]

If so, it still doesn't work... actually it doesn't add the script tag.

[2016-06-03 13:28] FezVrasta opened #288 "Can't load components"
(I've temporary disabled CommonChunks to try Carte Blanche)

When I've added a variation to my Button component, I get:

[code]

My Carte Blanche configuration is:

[code]

My Button component is:

[code]

I'm using as base react-boilerplate.

[2016-06-03 13:29] Anahkiasen opened #289 "Custom CSS gets overwritten"
I'm using the plugin as such:

[code]

When I look at `/dist/carte-blanche/index.html` I do see the `<style>` tags with my CSS in it, in this case a basic Bootstrap:

[code]

However when I actually go into Carte Blanche and look at a component using those styles, they're nowhere to be found:

![screen shot 2016-06-03 at 15 28 27](https://cloud.githubusercontent.com/assets/1321596/15780013/defddc5

[2016-06-03 13:44] FezVrasta commented on #285
I just noticed that ReactPlugin injects the tag in the iframes, the problem is that the error is thrown by the Carte Blanche bundle, not by the components.

The page just don't load at all.

[2016-06-03 14:03] mxstbr commented on #285
Ah, damn, that's a problem! Will look into it, we might have to add an `injectTags` options to the main CarteBlanche plugin.

[2016-06-03 14:06] mxstbr commented on #289
That's because the components are rendered in an iframe, which doesn't let any styles go through.

We currently don't support the `files` option for the ReactPlugin, but the `injectTags` option could be of help:

[code]

[2016-06-03 14:07] mxstbr commented on #288
Try removing the link to the `common.js.js` files, I think that's what's throwing the error. (as seen by the line saying `common.js.js:1 Uncaught SyntaxError: Unexpected token <`)

[2016-06-03 14:11] FezVrasta commented on #288
Removing that line I get:

![image](https://cloud.githubusercontent.com/assets/5382443/15781297/c8d566f8-29a5-11e6-89dc-a598c3d54b34.png)

[2016-06-03 14:27] Anahkiasen commented on #289
What about the `files` option of the React plugin itself, what does it do differently?

[2016-06-03 14:44] mxstbr commented on #289
It doesn't work currently, due to the way the API is designed at the moment. That's high up on our list of bugs to fix!

[2016-06-03 14:46] Anahkiasen commented on #289
Ok! Using `injectTags` in the meantime, can confirm that solved my issue. Can close this if you want

[2016-06-03 14:57] MilosRasic opened #290 "Not working on windows"
[code]

Looks like at some point the absolute paths that make it into the generated code strings have unescaped backslashes. Note how \node is parsed as {newline}ode and other backslashes simply disappear.

[2016-06-03 15:21] mxstbr commented on #289
Awesome, thanks! We're working on it!

[2016-06-03 15:21] #289 closed

[2016-06-03 15:22] mxstbr commented on #290
Yeah, we currently don't support Windows, sorry. 😕 We're aware and thinking about how to change this, but it's going to require a bit of work! Would appreciate any help!

[2016-06-03 15:22] #290 closed

[2016-06-03 17:26] johann-sonntagbauer commented on #290
@mxstbr is there already an issue for the windows support. I faced the same problem today an am eager to invest some time into it.

[2016-06-03 17:29] mxstbr commented on #290
No there isn't, feel free to submit a WIP PR and let's fix this together!

[2016-06-03 17:34] johann-sonntagbauer commented on #290
@mxstbr maybe adding a note in the readme, that windows is currently not supported saves some time and frustration.

[2016-06-03 18:47] marciovicente commented on #224
It would be great! 👍

[2016-06-03 21:22] jarrydfillmore commented on #286
+1, same thing is happening to me too!

[2016-06-04 04:12] dleen commented on #288
I'm getting this too. I'm not using commonjs. I wish I could be more helpful but I don't have any idea where to start looking with this one :(

[code]

[2016-06-04 04:41] dleen commented on #288
This might have something to do with either webpack 2.0 or react-hot-loader 3.0

[2016-06-04 13:42] mxstbr opened #293 "Integrate with Recon"
@chrisui release Recon at ReactEurope a few days ago, and it's basically a much better `react-docgen`!

We should look into replacing `docgen` with this asap: https://github.com/recon-js/recon

[2016-06-04 15:40] jdfweb commented on #293
+1 on this too!

[2016-06-04 21:40] ChristopherBiscardi commented on #288
I'm also seeing this with webpack 2, (no hot-loader 3)

[2016-06-05 06:23] mxstbr opened #294 "Integrate garbled random data"
E.g. this data right here: https://github.com/gojko/bugmagnet/blob/master/template/common/config.json

[2016-06-05 06:30] mxstbr opened #295 "Add Express.js support"
What we do under the hood is emitting a new asset from webpack at `carte-blanche/index.html`. (or whatever you specify in the `dest` option) This means that if you're using express.js for routing, users will never find the Carte Blanche because express.js sends back a 404.

We should be exposing an easy-to-use route which redirects to Carte Blanche. I've never done this before, so maybe there's a

[2016-06-05 06:31] mxstbr commented on #288
That's a really annoying bug. :confused: Could one of you possibly provide a stripped down test project so we can replicate this?

[2016-06-05 06:33] mxstbr commented on #286
Yeah the bug seems to be somewhere along the piping of the `dest` option, will take a look asap!

[2016-06-05 06:34] mxstbr commented on #252
Oh wow hell yeah that sounds brilliant!

[2016-06-05 17:02] ChristopherBiscardi commented on #288
I'll make a note to produce a minimal case. Won't get to it until tomorrow though.

[2016-06-05 17:09] mxstbr commented on #288
Awesome, thanks!

[2016-06-05 17:10] ericclemmons commented on #295
Hi!  It sounds like this overlaps with the request I have:

- We have a component playground as _part of our application_ under `/components`, which is part of our application's routes.
- I'll be testing out this project this week (better to back the community than a private project, IMO!), but would want to "embed" it within the app.

It sounds like this is possible, based on the internals I took

[2016-06-05 17:26] mxstbr commented on #295
Not entirely sure from your explanation, what exactly do you mean with "but would want to "embed" it within the app."?

Currently you can change the route from `localhost:3000/carte-blanche` to `localhost:3000/components`, but I'm not entirely sure that satisfies your use case.

[2016-06-05 20:23] sotojuan opened #297 "No `server.js` in TodoMVC example"
The `npm start` script [run a `server.js`](https://github.com/carteb/carte-blanche/blob/fbf38b5c3903141f137e3f2a8db567a6bf1b6d5b/examples/redux/todomvc/package.json#L6) file that does not exist in the directory.

[2016-06-05 20:45] mxstbr commented on #297
Use `npm run example:redux:todomvc` from the root folder the `npm start` command is an artifact from the creation!

[2016-06-05 20:47] nikgraf commented on #290
great suggestion @johann-sonntagbauer - I just added a note right before the setup part: https://github.com/carteb/carte-blanche/blob/master/README.md

[2016-06-05 20:49] sotojuan commented on #297
Thanks! That should be in the README or in the root of the examples. Maybe a good idea for a PR?

[2016-06-05 20:49] #297 closed

[2016-06-05 20:57] mxstbr commented on #297
Definitely PR worthy! :+1:

[2016-06-05 21:02] nikgraf commented on #295
@mxstbr I think we should write a carteBlancheMiddleware like `webpackDevMiddleware ` or `webpackHotMiddleware `. If people initialize it like that: `app.use(carteBlancheMiddleware(compiler))` we can check check for the path and emit the right file. I think it's important to use a middleware, because then we also can emit the client, user-bundle and other assets we might need in the future.

Here

[2016-06-05 21:07] nikgraf commented on #295
The code to submit the assets as of now: https://github.com/carteb/carte-blanche/blob/master/webpack-plugin/src/apply.js#L64

[2016-06-05 22:36] grabbou commented on #295
@mxstbr sounds like an issue for me (again) 😆

[2016-06-06 06:23] nikgraf opened #298 "Implement the React-docs plugin"
This plugins should create a table/list out of the propTypes/Flow types. We already started parsing the component using React-docgen and rendering the JSON, but it needs some nice styling & formatting.

see the code here: https://github.com/carteb/carte-blanche/tree/master/plugins/react-docs

You can add a plugin like this: `import ReactDocsPlugin from '../../plugins/react-docs/dist/plugin';`
 and

[2016-06-06 16:46] ChristopherBiscardi commented on #288
I've been digging a bit and currently tracing back from [here](https://github.com/carteb/carte-blanche/blob/86d1396cd846678fcf0d58d72a2dcd03fd89b92f/webpack-plugin/src/dynamic-resolve.js#L38) where

[code]

is an empty object `{}`, which is why `componentData.getCompiledComponent` is returning an empty object as well.

Right now I think this points to the source of the issue.

[2016-06-06 17:54] mxstbr commented on #288
@ChristopherBiscardi oh wow, thanks for digging in!

If I understand that correctly, an `if (componentFile) {}` should fix that? /cc @nikgraf

[2016-06-06 18:54] ChristopherBiscardi commented on #288
I'm not so sure, `componentFile` is well defined (in this case `app/mark/Test.js`), and `resources.compiledComponent` seems to be working as intended. The value in the contextual require is an empty object. IMO it seems similar to cyclic dependency issues I've seen in the past, where the loaded file is loaded as `{}` instead of the content of the module.

Everything seems to be pointing at the rig

[2016-06-06 18:57] ChristopherBiscardi commented on #288
IE: it seems that webpack doesn't think `Test.js` is being used and attempts to shake it off the tree as a result.

[2016-06-06 20:18] ChristopherBiscardi commented on #288
Temporary fix is to use `module.exports` instead of `export default`

-- Bug
[code]

-- Good
[code]

[2016-06-06 20:31] ChristopherBiscardi commented on #288
Alternatively, one can remove `es2015-webpack` in favor of the full `es2015` babel preset (for example, if you're using react-boilerplate 3. This uses babel to transpile the imports and you lose tree-shaking. One idea is to use `es2015` when running carte and `es2015-webpack` when compiling for prod using .babelrc's support for envs.

[2016-06-06 21:47] ChristopherBiscardi opened #300 "Syntax Highlighting in Source Plugin"
I was able to achieve a pretty reasonable (IMO) implementation of syntax highlighting using highlight.js and the associated css files without much effort. Is this something that you'd be interested in merging a PR for?

![screen shot 2016-06-06 at 2 43 58 pm](https://cloud.githubusercontent.com/assets/551247/15838901/49a9bd82-2bf5-11e6-959e-0c706fc9fe52.png)

[2016-06-07 00:07] tmc opened #301 "react-native support"

[2016-06-07 01:43] ericclemmons commented on #295
Sorry I wasn't clear. @nikgraf's recommendation for `carteBlancheMiddleware` is what I was inquiring about.  (I have an existing Express server running that I'd like to have serve `/components` from Carte Blanche from within the same instance).

The nice thing about middleware is you can remove the path option by doing:

[code]

Anyway, I'll be testing the project out this week & hopefully be able

[2016-06-07 04:34] eddiewang commented on #285
I'm getting this error as well. What would be the best way to approach this issue?

[2016-06-07 07:38] tomduncalf opened #302 "/carte-blanche URL does not work"
I tried adding carte-blanche to a simple project of mine, but when running it, http://localhost:3000/carte-blanche does not load Carte Blanche – it just loads the app instead (which does not use react-router at the minute as it's just one page)

I wonder if I need to change something in the dev server? Or is react-router a requirement perhaps? I've not had a chance to look into how Carte Blanche w

[2016-06-07 08:43] christianalfoni opened #303 "CSS issues?"
Hi there,

Really great project!

Running this project there seems to be CSS issues with it? Notice that the content of the modal is not taking up all the space, the right scrollbar there.

There is no save button, so can not create examples of my components?

![screen shot 2016-06-07 at 10 41 08](https://cloud.githubusercontent.com/assets/3956929/15851355/b077403c-2c9c-11e6-80c1-e69b686e30fd.png)

[2016-06-07 09:13] wmertens commented on #302
Can you post your webpack configuration? Basically, the carte blanche files are generated to reside under `/carte-blanche` on your webpack-dev-server, so you need to be able to get there. If you run it on a different port, you need to go to that port.

[2016-06-07 09:30] tomduncalf commented on #302
Sure, here it is: https://raw.githubusercontent.com/tomduncalf/carte-blanche-bug/master/webpack.config.js

`http://localhost:3000` is definitely hitting the dev server, but `http://localhost:3000/carte-blanche` just shows the same page as `/`. No doubt I have done something silly ;)

[2016-06-07 09:33] wmertens opened #304 "`dest` option does not work with prefixes"
Our webpack assets are generally under `/_assets` so that they don't interfere with HTML5 URL rewrites.

This means that the `http://.../carte-blanche` url is really at `http://.../_assets/carte-blanche`. Carte Blanche refers to its assets by absolute path, so that doesn't work. Specifying a `dest` option just replaces the `carte-blanche` part, not the prefix.

IMHO, assets should be loaded withou

[2016-06-07 09:54] wmertens commented on #303
Seeing the same thing, also the sidebar does not scroll if there are too many components.

The props are auto-save though, so that works.

[2016-06-07 09:55] wmertens commented on #241
Note that the iframe has to load a ton of code, while in theory it should only be React, the component and its dependencies.

It is probably possible to lazily create a new webpack entry per component?

[2016-06-07 10:09] wmertens commented on #302
you have publicPath set to `/static`, which means that the url is `http://localhost:3000/static/carte-blanche`. Try removing that, see also #304 for why it won't work :)

[2016-06-07 10:11] tomduncalf commented on #302
Ah excellent, thank you! I'll try that out when I get home. I use `publicPath` so that my dev server JS lives in the same place as my built JS (`/static/index.js`) – is there a better way to do this? It's not a problem to use `/static` in the carte-blanche URL really

[2016-06-07 10:11] #302 closed

[2016-06-07 10:13] wmertens commented on #302
No, I think using a prefix is great, carte-blanche should just fix this situation.

[2016-06-07 10:13] tomduncalf commented on #302
Cool, I've 👍  your other issue, thanks for the help :)

[2016-06-07 10:13] wmertens commented on #304
Another option would be to also include the configured public path into the url…

[2016-06-07 10:26] mxstbr commented on #304
We had that, but the problem then is that you have to go to `/dest/` (notice the trailing slash), otherwise the assets will refer to the root domain. I'm about 99% sure that we'd get tons of bug reports about that, so I fixed it by prepending the dest option.

That sounds a lot more reasonable. :+1:

[2016-06-07 10:27] mxstbr commented on #302
Yes, definitely a bug on our side, got an idea how to fix it already though! Sorry for the troubles!

[2016-06-07 10:27] mxstbr commented on #241
Maybe? Haven't even thought about that to be honest, sounds reasonable though…

[2016-06-07 10:28] mxstbr commented on #303
Dang, @nikgraf that ones for you I think!

@christianalfoni what browser/device are you on?

We should add a "Saving…"/"Saved!" indicator for the autosave functionality!

[2016-06-07 10:29] mxstbr opened #305 "Add autosave indicator"
We should have an indicator (similar to the Medium editor) that tells people when we're autosaving/that we've autosaved.

[2016-06-07 10:30] mxstbr commented on #288
That's annoying though, we shouldn't be forcing people to change their webpack config for carte blanche.

Thanks so much for digging in @ChristopherBiscardi! We'll have to think about how to fix this properly then, any ideas?

[2016-06-07 10:31] mxstbr commented on #285
Not yet fixed, we're on it!

[2016-06-07 10:32] mxstbr commented on #295
That's what we love to see! I've pushed up a first (not yet working) express.js example to the `express-integration` branch—as soon as that's actually working you'll be able to run it with `npm run example:express`.

[2016-06-07 10:34] christianalfoni commented on #303
Using latest Chrome.

would suggest adding a bit opacity to the modal so that you can see the component changing in the background. Makes it a little bit more intuitive maybe.

I think I was confused by the demo picture where it looked like you were adding multiple components to "Core" and "edge case". Maybe use an example with a simple button where you say "primary", "secondary" etc. The list jus

[2016-06-07 10:34] Chrisui commented on #293
👍

So a quick update: I will be on holiday for the next week and a bit but after that I will be around to personally get Recon integrated into Carte Blanche!

Before that I'm hoping to put together some docs around the interfaces of Recon so that we can, as a community, ensure everyone's tool's needs are met :)

[2016-06-07 10:34] mxstbr commented on #301
I think the main problem with `react-native` support is that nobody uses webpack, and everybody uses `react-native-cli`. I haven't tried, but I think if you have a RN project running with webpack CarteBlanche _should_ work…

It'd be interesting to see if we could somehow integrate with `react-native-cli`, but I've almost never worked with it, so no idea how feasible that is.

*/cc @grabbou @mkonic

[2016-06-07 10:38] mxstbr commented on #293
Awesome, I can't wait! The data recon puts out seems a lot more intricate than `docgen`, and it'll hopefully improve the experience for everyone. (imported PropTypes?!)

[2016-06-07 10:40] mxstbr commented on #303
Yeah, the UI/UX of the thing is by far not perfect yet. See #246 and #259 for more information.

[2016-06-07 10:40] mxstbr commented on #300
Make it a plugin/add it to the source plugin!! :+1: :+1:

[2016-06-07 12:28] nikgraf commented on #303
@christianalfoni I just tried to run it. Checkout out the branch and did `npm install` & `npm start`, but id didn't work. Anything else I need to do?

I get a couple of these:
[code]

One thing I noticed is that you guys use React 0.14.8. In theory we could package React into the client bundle and only use your React version for the iFrame. This is not the case right now, which might break the app

[2016-06-07 12:34] christianalfoni commented on #303
Be sure to check out the `cartheblanch` branch... typo there, hehe.

Also I have pushed the ducky-assets in there now, so it is part of the project. ACtually a hidden repo... but nothing secret there

[2016-06-07 12:40] nikgraf commented on #303
@christianalfoni works now, thx

[2016-06-07 12:50] wmertens commented on #304
The trailing / could be fixed by passing `staticOptions: {redirect: true}` to the webpack-dev-server.

Also, a bit of javascript before the main js loading could check for the url matching `/(index.html)?`and if not, redirecting.

[2016-06-07 12:52] eddiewang commented on #285
Awesome - thanks. FYI I'm using: https://github.com/rangle/react-redux-starter

[2016-06-07 13:16] nikgraf commented on #303
@christianalfoni Just discovered the issue: right now we don't get out the css from ExtractTextPlugin inside the iFrame. We need to fix this on our side. Hopefully in the next couple days. I got it working using the raw style loader. For some reason the icons inside an ActionButton are missing while working fine on the `/` root page. Any ideas?

<img width="1278" alt="screen shot 2016-06-07 at 14

[2016-06-07 13:19] christianalfoni commented on #303
Great stuff, thanks :)

We do not need to use extract plugin in development anyways, so I can turn that off.

About the images it might be because we use a relative path to get them, but should absolute path. So it tries to find image on `/carte-blanche/someimage.png`, but it is located on : `/someimage.png`... Let me look into it and let you know :)

[2016-06-07 13:23] christianalfoni commented on #303
Ah no, it is some fonts we load in our index.html file

[2016-06-07 13:25] nikgraf commented on #241
@jantimon what's your take on this?

[2016-06-07 13:25] christianalfoni commented on #303
Hm, is there any strategy for loading stylesheets in the carte-blanche dashboard?

[2016-06-07 13:27] christianalfoni commented on #303
I can write a stylesheet loader plugin maybe :)

[2016-06-07 13:28] nikgraf commented on #300
sooo cool @ChristopherBiscardi

[2016-06-07 13:33] nikgraf commented on #303
@christianalfoni yep there is a `files` option as well as the `injectTags` option for the React plugin. Still need to document them 😄

https://github.com/carteb/carte-blanche/blob/master/examples/redux/todomvc/webpack.config.babel.js#L29-L33

https://github.com/carteb/carte-blanche/blob/master/examples/users/webpack.dev.babel.js#L35-L37

[2016-06-07 13:36] nikgraf commented on #267
solved with: https://github.com/carteb/carte-blanche/commit/43c7208cc91dc97ad194984530d0f21f552c3706

[2016-06-07 13:36] #267 closed

[2016-06-07 13:41] nikgraf commented on #220
done with: https://github.com/carteb/carte-blanche/commit/75dfee8258a420d7ed2d449780fbd3283575eb50

[2016-06-07 13:41] #220 closed

[2016-06-07 13:42] christianalfoni commented on #303
Sweet! though... hm:

[code]

Kan not see the tag is injected looking at the source of the html, and no icon there, hm hm

[2016-06-07 13:50] nikgraf commented on #216
just documented the hot option: https://github.com/carteb/carte-blanche/commit/a55577702951aab7112a8fedd899b1f02ead05bf

[2016-06-07 13:50] #216 closed

[2016-06-07 13:52] nikgraf commented on #303
Did you push? I can double check what's going on 🙌

[2016-06-07 13:53] christianalfoni commented on #303
Pushed, awesome, big thanks :)

[2016-06-07 14:49] bytewiz opened #306 "Would this plugin work with react-redux-starter-kit setup?"
I am currently using that structure, and given this error

``browser.js:49 Warning: [react-router] Location "/carte-blanche" did not match any routes``
``user-bundle.js:19 Uncaught TypeError: Cannot set property '_ressources' of undefined``
``Failed to parse SourceMap: http://localhost:8080/carte-blanche/user-bundle.js.map``

this is under the location `localhost:8080/carte-blache`

and I followed

[2016-06-07 16:07] mxstbr commented on #306
You might need to adjust the `filter` option a bit. By default, we match all uppercased folders with `index` files and all uppercased files, both ending with either `.js`/`.jsx`/`.es6`.

I think the bug here is that for the davezuko layout you need to remove the `index` part from the Regex, since the `index.js` file doesn't contain a component, but I'm not 100% sure.

[2016-06-07 18:31] ChristopherBiscardi commented on #288
It seems that webpack is handling `require.context` correctly in a minimal test repo. Nothing gets shaken from the context require while other files get properly shaken.

The place I'm looking right now is the dynamic-resolve loader (`dynamic-resolve` should probably be renamed to -loader, right?), which is responsible for replacing the placeholder file with the code that returns the empty object.

[2016-06-07 22:06] pe3 commented on #153
Is this issue about extending [variationsToProps.js](https://github.com/carteb/carte-blanche/blob/master/plugins/react/frontend/utils/variationsToProps.js) so that variations-files could produce objects from required modules?

In my case I'm using the [CALMM architecture](https://github.com/calmm-js/documentation) and my component properties are [Bacon Atoms](https://github.com/calmm-js/bacon.atom

[2016-06-08 06:34] nikgraf commented on #303
@christianalfoni Just checkout out your version. The tag actually was injected, but in the body. I moved them into the head with this PR https://github.com/carteb/carte-blanche/pull/310, but I don't think it makes a difference. May it be that it was the wrong CSS file?

<img width="369" alt="screen shot 2016-06-08 at 08 24 12" src="https://cloud.githubusercontent.com/assets/223045/15884900/aff82dd

[2016-06-08 06:37] nikgraf commented on #303
@christianalfoni Max already merged a PR to make the left sidebar scrollable 🙌

[2016-06-08 07:00] nikgraf commented on #153
Exactly @pe3 - ideally we would to allow you to use plain JavaScript in the variation files. From what I understand this is a bit of a challenge as every required would need to be converted with webpack.

Another option would be to allow people to hook into the serialization/de-serialization step and use `Atom` or `Immutable` as well. Yet we haven't had time to experiment with any possible solutio

[2016-06-08 07:42] #239 closed

[2016-06-08 07:42] nikgraf commented on #239
already fixed by @nkalichynskyi

[2016-06-08 07:46] nikgraf opened #313 "Add URL Control"
Right now we only started to add custom controls. I would love to see a nice base list and we could start with a URL control.

As a simple example you could take:
https://github.com/carteb/carte-blanche/tree/master/plugins/react/frontend/components/controls/advanced/PhoneControl

Make sure to extend the list here to get it working: https://github.com/carteb/carte-blanche/blob/master/plugins/react/

[2016-06-08 07:46] nikgraf commented on #313
@d4ncer would that be something for you?

[2016-06-08 09:40] pe3 commented on #153
Just a crazy heretic - not Webpack - idea that came to my mind: with [SystemJS](https://github.com/systemjs/systemjs) the bundling could maybe happen on demand in the browser [like this](https://github.com/systemjs/systemjs#browser):
[code]
Could something similar be done with Webpack?

[2016-06-08 10:54] d4ncer commented on #313
@nikgraf Yup, I'll pick this up this weekend.

[2016-06-08 12:57] jantimon commented on #241
We should probably move the iframe component out into a more general one which contains only the essential parts.

[2016-06-08 20:23] darthtrevino opened #315 "TypeScript Support"
It looks like TypeScript React components are not supported. It would be nice if you could run components through Webpack's configured loaders prior to this plugin using them.

[2016-06-08 22:35] nikgraf commented on #315
That would be great. Right now we use react-docgen which only parses PropTypes & Flow from what I know.

There was the idea floating around to switch to Recon https://github.com/carteb/carte-blanche/issues/293
Ideally we should find a solution that i fairly easy to extend and support these out of the box:

- PropTypes
- Flow
- TypeScript
- Relay Schema

[2016-06-08 22:43] nikgraf commented on #153
@pe3 to be honest: I don't know

[2016-06-09 09:07] a-c-m opened #318 "Missing autoprefixer dependency"
Currently master will not `npm run` due to a missing autoprefixer dependency.

[code]

[2016-06-09 12:52] #318 closed

[2016-06-09 14:31] #247 closed

[2016-06-09 14:46] mxstbr commented on #248
Fixed!

[2016-06-09 14:46] #248 closed

[2016-06-09 14:47] mxstbr commented on #11
Closing since this is old!

[2016-06-09 14:47] #11 closed

[2016-06-09 14:47] mxstbr commented on #15
Closing since old!

[2016-06-09 14:47] #15 closed

[2016-06-09 21:32] tmc opened #321 "Support for making libraries"
If this is set as the output library name:
[code]

user-bundle.js gets generated like so:
[code]
(which is invalid)

[2016-06-09 21:33] tmc opened #322 "subdirectory grouping of components?"
We use a feature-oriented layout such as:

[code]

it would be nice to have these groupings in carte blanche.

[2016-06-10 08:10] mxstbr commented on #321
Are you making a library?

I think that's a usecase we haven't accounted for so far, would you mind adding an example to the repo with your webpack config?

[2016-06-10 17:24] SpencerCDixon commented on #306
@bytewiz did you ever end up gettin ga filter regex working?  I'm running into same error

[2016-06-11 05:17] nikgraf commented on #322
@tmc yes please!

I haven't though much of this feature, but what we also should account for is how it looks like for people who nest there components. Also take into account how the filtering then works. One thing we could do is map the directory structure in a tree and once you start searching it becomes flat.

What do you think? I'm hoping for better ideas 😄

[2016-06-11 07:45] mxstbr opened #325 "Warn if people use webpack in production"
We should check if people are running in production and show a warning saying you shouldn't use CarteBlanche in production.

[2016-06-12 06:30] nikgraf opened #330 "Speed up loading times of the iframes"
One issue we have is that every iframe loads the `iframe-client-bundle.js` as well as the `user-bundle.js`.

The big chunk definitely is the user-bundle with the app inside taking up around 700milliseconds to evaluate:
<img width="937" alt="screen shot 2016-06-12 at 08 07 15" src="https://cloud.githubusercontent.com/assets/223045/15989398/c3b28530-3075-11e6-82bf-3af1e27b6d16.png">

Even in our dev

[2016-06-12 06:35] nikgraf commented on #330
btw find here the first step: https://github.com/carteb/carte-blanche/pull/329

[2016-06-12 07:17] nikgraf opened #333 "Refactoring"
Max mentioned these points here: https://github.com/carteb/carte-blanche/pull/328

- [ ] We should find a better (i.e. more scalable) way to pipe specific data from the core options to the plugins (like right now the dest option and the commonsChunkFilename), but that's for another PR.

- [ ] We should fix the iFrame HTML having <script>undefined</script> in them, which is an artifact from my quic

[2016-06-12 08:00] adrianmc commented on #246
I think this is a great direction for the future of carte blanche. I am unsure about the collapsed navigation, because those thin lines don't really provide much useful information and the un-collapsed version doesn't feel particularly intrusive either. I think I would rather have a complete collapse to hide it all rather than those lines, but that's just my personal preference.

I really like see

[2016-06-12 10:31] mxstbr commented on #295
Done with v0.2!

[2016-06-12 10:31] #295 closed

[2016-06-12 10:31] mxstbr commented on #285
Done with v0.2! :tada: Now onwards to try with `react-boilerplate` again…

[2016-06-12 10:31] #285 closed

[2016-06-12 10:37] FezVrasta commented on #288
I'm using `es2015` I guess:

[code]

But I still have the problem.

[2016-06-12 10:38] FezVrasta commented on #285
Are you going to release 0.2 anytime soon? Thanks

[2016-06-12 11:02] christianalfoni commented on #303
Can you have <link> tags in the body? Thought they were required in the head tag... hm hm... anyways, big thanks. Will try it out next week again. Big thanks for all your help @nikgraf !

[2016-06-12 11:02] #303 closed

[2016-06-12 11:05] FezVrasta commented on #322
In the company I work for, we have a nested list, filterable, when someone filters, the nesting structure is maintained, and the ones that don't match get hidden.

[code]

[code]

[2016-06-12 11:12] mxstbr commented on #322
That sounds very reasonable @FezVrasta!

[2016-06-12 11:13] mxstbr commented on #303
It's HTML, you can have everything everywhere. :grin:

[2016-06-12 11:13] mxstbr commented on #285
It's released!

[2016-06-12 11:18] mxstbr commented on #288
Alright, with `CommonsChunkPlugin` and express.js support done (released as 0.2), this is (I think) the last thing to fix for it to be compatible with `react-boilerplate`. Again, thanks for the investigation @ChristopherBiscardi, that's really really helpful!

Ideally, we wouldn't require people to adapt their code or configs to Carte Blanche. It should _just work_™.

I understand this is quite a

[2016-06-12 11:20] FezVrasta commented on #285
Oh sorry I thought you would have added a release on GitHub.

[2016-06-12 11:22] christianalfoni commented on #303
Aha, in HTML4: “This element defines a link. Unlike A, it may only appear in the HEAD section of a document, although it may appear any number of times.” HTML5 it is okay :) Though yes, bad practice I would suggest as styles are not added before body renders... of course depending on scenario. Anyways, good to know :)

[2016-06-12 11:22] mxstbr commented on #285
Ah, forgot to push the tag, my bad! Thanks for reminding me, it'll be right there…

[2016-06-12 11:26] mxstbr commented on #303
Absolutely agreed, very bad practice! It's fixed now anyway, that was just my quickly-finish-this-before-launch-coding :grin:

[2016-06-12 12:46] FezVrasta opened #336 "Use source of faker.js instead of "compiled" one."
This warning comes out when you use Carte Blanche, it's a bit annoying, maybe suppress it or do what it says?

[code]

[2016-06-12 15:00] nikgraf commented on #336
Yeah, we had troubles when importing faker directly, but didn't investigate much.

@FezVrasta interested to investigate here?

[2016-06-12 16:16] bytewiz commented on #306
@SpencerCDixon no, didn't have the time yet, but if figure it out before me I would like to have the solution 👍

[2016-06-12 16:59] FezVrasta commented on #336
I'll look at it tomorrow probably.

[2016-06-12 21:38] damassi commented on #306
Running into the same issue with react router. Seems like there needs to be some kind of hook into the lib? Because the master `routes.js` file doesn't contain a route ref to `carte-blanche` (and even if it did, there's no component to point the route at) it throws. Not sure how to get around this.

[2016-06-13 01:13] tmc commented on #321
@mxstbr example config here: https://github.com/tmc/cb-test

[2016-06-13 01:26] tmc opened #338 ""No Control available for this prop type." if using a reference to a proptype vs a literal."
givent

[code]

the a1 field is renders to 'No Control available' while a2 appropriately renders the expected form.

[2016-06-13 07:11] mxstbr commented on #338
Interesting, that's highly likely a limitation of `react-docgen` which we can't really work around. Maybe switching to recon will fix this?

/cc @chrisui, ref #293

[2016-06-13 07:13] mxstbr commented on #306
Hmm, that shouldn't be an issue because Carte Blanche hooks into your server before anything even gets to the client side routing. What's your server setup like?

[2016-06-13 12:23] mxstbr opened #341 "Online demo"
We should really have a website with an online demo…

[2016-06-13 12:24] mxstbr opened #342 "Logo"
We need a proper logo. Nik's [quickly made for launch one](https://avatars1.githubusercontent.com/u/15898536?v=3&s=200) is alright, but I want some stickers with a nice logo!

/cc @elioqoshi @okonet who've helped before with logos!

[2016-06-13 12:59] lithin opened #343 "Cannot find module carte-blanche-react-plugin"
When adding `const ReactPlugin = require('carte-blanche-react-plugin');` to my webpack config, webpack doesn't build because it "Cannot find module carte-blanche-react-plugin". Node modules are installed properly, `carte-blanche-react-plugin` is installed in `./node_modules/carte-blanche/node_modules`.

After `npm i -s carte-blanche-react-plugin`, everything works as expected.

This seems to be an

[2016-06-13 13:12] mxstbr commented on #343
What's your `npm` version? I think this changed with the recent v3 update, but I'm not 100% sure.

[2016-06-13 13:20] lithin commented on #343
You're right! Sorry didn't realise I'm still using an ancient version!

[2016-06-13 13:20] #343 closed

[2016-06-13 13:47] FezVrasta commented on #342
Do we want to refer to React in the logo?

[2016-06-13 13:53] okonet commented on #342
I don't think so, to be honest. Especially keeping in mind that carte-blanche has plan to support other frameworks/libs.

[2016-06-13 14:06] ingro commented on #290
@johann-sonntagbauer did you find some time to investigate? I'm facing the same issue but didn't found a workaround yet.

[2016-06-13 14:18] #336 closed

[2016-06-13 14:30] nikgraf commented on #341
I think the only thing we need to do is disallowing to write variations & only store them locally. Can be a hidden option.

Once that is setup we can easily deploy it to Heroku or AWS and run the development server there …

[2016-06-13 14:55] johann-sonntagbauer commented on #290
@ingro unfortunately not.

[2016-06-13 15:30] tmc commented on #338
Being in an environment in which I'm generating propTypes from an IDL this is a pretty important limitation.

[2016-06-13 15:45] mxstbr commented on #343
No worries, glad to know it's working now! :+1:

[2016-06-13 15:46] mxstbr commented on #341
We should make that an option anyway, since some people might want to host their CarteBlanche online for their developers to copy source code from (/cc @RStankov), so that pretty much has to be an option.

Sounds good!

[2016-06-13 15:49] mxstbr commented on #338
Okay, let's wait for @chrisui to be back from holiday (soon?) and then we'll look into this! :+1:

[2016-06-13 15:53] nikgraf commented on #338
Would be an interesting contribution to https://github.com/reactjs/react-docgen

@fkling I'm curious about your thoughts on how easy/hard this would be. I would be happy to dig in and submit a PR.

[2016-06-13 15:58] mxstbr commented on #321
Thanks, taking a look!

[2016-06-13 16:03] #273 closed

[2016-06-13 18:31] #321 closed

[2016-06-13 19:03] mxstbr opened #347 "Integrate Lerna"
We should really look into [Lerna](https://github.com/lerna/lerna), the publishing process at the moment for the webpack plugin and the react plugin is quite tedious and I manage to mess it up everytime.

[2016-06-13 19:58] bytewiz commented on #306
@SpencerCDixon did you have any luck ? otherwise I might have time to look into it this week :)

[2016-06-13 21:13] bytewiz opened #348 "traverseParentPath(...) error when selecting a component"
Added one component to and then visited th carte-blanche but when selecting the component and the pop up shows this follow error is thrown:

``
Generating metadata failed Error: traverseParentPath(...): Cannot traverse from and to the same ID, ''.(…)(anonymous function) @ index.js:301
``

<img width="1438" alt="screen shot 2016-06-13 at 23 10 44" src="https://cloud.githubusercontent.com/assets/168

[2016-06-13 21:29] mxstbr commented on #348
What does your component and layout of the component folder look like?

[2016-06-13 21:45] bytewiz commented on #348
The App component which imports the List component
<img width="777" alt="screen shot 2016-06-13 at 23 45 00" src="https://cloud.githubusercontent.com/assets/16811871/16024205/e7b2b396-31c0-11e6-81d8-bdf604651327.png">

The List component.
<img width="770" alt="screen shot 2016-06-13 at 23 43 01" src="https://cloud.githubusercontent.com/assets/16811871/16024178/b1391d00-31c0-11e6-9ee3-bd94c7344062.

[2016-06-13 22:04] nikgraf commented on #305
@mxstbr I gave this a bit more thought: I suggest we show the indicator right away and wait 500ms for fading out. This way it doesn't blink up for every character you type.

I suggest to have a green little box saying `Saved …` with position absolute at the top/right.

[2016-06-13 22:58] fkling commented on #338
Potentially the same issue as https://github.com/reactjs/react-docgen/issues/65 . Variables should be resolved. I guess one would just have to add a `resolveToValue` call here: https://github.com/reactjs/react-docgen/blob/master/src/handlers/propTypeHandler.js#L47

[2016-06-13 23:38] SpencerCDixon commented on #306
No luck.  Don't really have time to figure it out though, just thought it would be cool if carte-blanche worked with just adding the webpack plugin.  Maybe some debugging guidance in the docs would be useful! @bytewiz you should submit a PR to the readme if you figure it out :)

[2016-06-14 06:45] mxstbr commented on #305
Sure

[2016-06-14 13:51] hugobessaa commented on #302
@mxstbr any news here? Real blocker for us. I've got an idea on how to do this too.

[2016-06-14 14:57] nikgraf commented on #338
@fkling cool, thx for the hint. I will look into it later this week and create a PR 😊

[2016-06-14 15:27] lithin commented on #305
We could throttle it instead? I'll see how complicated that would be :)

[2016-06-14 15:50] mxstbr commented on #305
Not much, I think.

If you want to give this a shot, all the relevant code is in `plugins/react/components/PlaygroundList.js`, specifically you'd want to look at adding another property to the state and the `changeVariation` and `persistVariation` methods!

[2016-06-14 15:51] mxstbr commented on #302
Not as of yet, I'm afraid. If you want to take a look that'd be much appreciate, feel free to submit a WIP Pull Request and we can do it together!

(Also, joining the chat might be good for discussions: https://gitter.im/carteb/carte-blanche)

[2016-06-14 16:07] lithin commented on #305
Awesome thanks!

[2016-06-14 16:20] mxstbr opened #349 "Implement Redux for the ReactPlugin"
At the moment the `PlaygroundList` component of the `ReactPlugin` is a massive beast that takes care of _everything_. It's like a top level global state management thingy – oh wait, there's better solutions for this? :wink:

I think we've discovered the point where integrating Redux starts making sense and everything easier to handle. Would appreciate a PR implementing this!

[2016-06-15 10:00] bytewiz commented on #348
@mxstbr any idea why this happens?

[2016-06-15 10:09] mxstbr opened #350 "Implement semantic release"
Following this [brilliant article](http://alistapart.com/article/commit-to-contribute) by @rem, I think we should implement semantic release and the `validate-commit-message` hook!

Related: #347

[2016-06-15 10:11] mxstbr commented on #348
I think `<div>this.props.firstName</div>` is invalid JSX syntax, it should be `<div>{ this.props.firstName }</div>`, which might be the problem?

[2016-06-15 10:12] bytewiz commented on #348
Lol,.. my bad, let's close this one :-)

[2016-06-15 13:16] mxstbr commented on #348
Hmm, not quite sure to be honest. Could you provide a contained repro case as a git repo? Then I'll take a look!

[2016-06-15 13:52] 7aDSK opened #351 "Webpack server : localhost:8080 : doesn't work with fresh install of C-B repo"
HI All,

I found some bug - maybe this only my dev issue. I would like share some details.
Also this is a fresh install of C-B repo.

Refer to all files `webpack.dev.babel.js` in `/examples` :

[code]

and line ` 'webpack-dev-server/client',`
modified to ` 'webpack-dev-server/client?html://0.0.0.0:8080',`

Webpack Server now working well with : e.g. `npm run example:dev`.

Thank you,
Adam

[2016-06-16 08:00] elioqoshi commented on #342
I'd be happy to take this on :)

[2016-06-16 11:05] lithin commented on #349
I'm on it :)

[2016-06-16 11:29] mxstbr commented on #342
That'd be awesome!

[2016-06-17 12:44] skayred commented on #348
Can confirm the same behavour, see the sample project
[https://github.com/skayred/carte-blanche-hello-world](url)

I can provide any additional info if needed

[2016-06-17 12:56] skayred opened #353 "Safari support"
Hello guys, could you please check, how Carte Blanche works on Safari? In my case I have only this:

![WHat is shown in Safari](https://api.monosnap.com/rpc/file/download?id=Q04XL2Bp8JBJVj6i0gv5yC85sMsOtG)

[2016-06-17 13:56] bigblind opened #354 "SourcePlugin is not a function"
I have my plugins set up as described in the README of this project, but I'm getting the following error:

[code]

[2016-06-17 19:01] bytewiz commented on #348
@skayred I can confirm the exact same behaviour in the sample project. same error.

[2016-06-17 19:44] tmc commented on #338
@fkling / @nikgraf that does appear to fix this, FWIW

[2016-06-17 20:31] mxstbr commented on #354
Yeah that is a bug, we need to cut a new release! Meanwhile, can you see if `new SourcePlugin.default()` works?

[2016-06-17 20:32] mxstbr commented on #348
Thanks for the repro case, will look into it!

[2016-06-19 14:05] elioqoshi commented on #342
What do you think about this? @mxstbr
![carte blanche](https://cloud.githubusercontent.com/assets/5436686/16177815/b4f3ab1a-3637-11e6-96d1-0be878a322b6.jpg)

[2016-06-19 20:38] nikgraf commented on #353
ohh, thx for reporting it @skayred - that's unfortunate.

There are quite some things to work. I expect this will take a little while to get up to @mxstbr's or my priority list. Nevertheless we would be super happy to merge a PR with fixes 😃

[2016-06-19 20:40] nikgraf commented on #351
thx Adam!

Did you really mean `html://0.0.0.0:8080` or `http://0.0.0.0:8080`?

Was ist not working at all or just hot reloading failed? Any error messages you can share?

[2016-06-20 10:13] 7aDSK commented on #351
My bad :

should be : `http://0.0.0.0:8080`

Thanks

[2016-06-20 12:35] nikgraf commented on #351
@7aDSK what kind of error message did you see?

[2016-06-21 14:10] eddiewang commented on #342
i'll also make one tonight.

[2016-06-21 14:46] nikgraf commented on #342
yay, looking forward to a couple of variations 🙌

@elioqoshi nice one, what I recommend in general is to not use uppercase characters all the way (which is funny, because yet I couldn't even convince my own team 😜)

[2016-06-21 15:35] elioqoshi commented on #342
@nikgraf why specifically? There is no thumb rule as in "avoid doing x" in that case so is there any reason for that here apart personal preference?

[2016-06-21 15:44] okonet commented on #342
@elioqoshi it is about preference (I guess) but I also think that in most cases it makes it harder to read. I realize logos aren't about reading, but I'd also would like to see a version without all caps.

[2016-06-21 16:28] mxstbr commented on #342
I'm not sure I understand what the icon means, how is it related to Carte Blanche? Looks like an "N" to me, kind of invokes feeling of a construction company…

[2016-06-21 18:12] elioqoshi commented on #342
@okonet makes sense

@mxstbr it's supposed to be 2 cards stacked against each other (like you would do with a card house). Seems it's not too obvious...

[2016-06-21 22:05] nikgraf commented on #342
"Studies have been conducted on the readability and legibility of all caps text. Scientific testing from the 20th-century onwards has generally indicated that all caps text is less legible and readable than lower-case text.[2][3] In addition, switching to all caps may make text appear hectoring and obnoxious for cultural reasons, since all-capitals is often used in transcribed speech to indicate t

[2016-06-21 23:44] ac360 commented on #342
I should probably get back to work.  But spent a few minutes trying to be helpful.

![temp](https://cloud.githubusercontent.com/assets/2752551/16250078/6b605748-37cf-11e6-97eb-e45293b88d2c.png)

[2016-06-22 00:22] eddiewang commented on #342
Here's a possible version. Have alot of work so maybe will have more designs later.
![carte blanche](https://cloud.githubusercontent.com/assets/2057997/16250732/c845aca6-37ed-11e6-9a31-36035afa18bb.png)

[2016-06-22 14:52] 7aDSK commented on #351
I'll back to you - first I need reinstall all and check again with log.
Give me couple of days, please.
Thanks.

[2016-06-22 19:10] paulxuca commented on #342
![carte](https://cloud.githubusercontent.com/assets/7885473/16279999/81e32fb0-388b-11e6-9e97-a80f6ad4b57a.jpg)

[2016-06-22 19:48] okonet commented on #342
@paulxuca I like the idea with cards but I think the opacity won't work well on most screens. It's hard to see the last card even on the iPhone. It also look to similar to the Medium's logo IMO.

[2016-06-22 20:45] paulxuca commented on #342
![carte](https://cloud.githubusercontent.com/assets/7885473/16282899/a08f9f68-3898-11e6-838c-696f170edec2.jpg)
different approach (playing on the idea of a blanche card and testing components).

[2016-06-23 09:30] mxstbr commented on #342
I like where this is going! I like the colors in @ac360, though I'm not sure a whisky glass is what we want as an icon :grin: @eddiewang and @paulxuca's direction is great!

The last @paulxuca one is a bit too explicit in my opinion, there's too much fidelity in the icon.

[2016-06-23 10:17] okonet commented on #342
Here is my (very rough) attempt.

It is based on a geometric form of 2 cards (what else!) and first capital letters of Carte Blanche. First variant resembles similarity with Node.js (JavaScript).

![2016-06-23 at 12 11](https://cloud.githubusercontent.com/assets/11071/16299661/be30aad2-393b-11e6-9fdb-a660134b142c.png)

Both are quick sketches and should be cleaned up in case we go with them. I'm a

[2016-06-23 14:11] okonet commented on #342
A few more ideas:

![2016-06-23 at 16 10](https://cloud.githubusercontent.com/assets/11071/16306180/23bda348-395d-11e6-9f1e-b38c5379677f.png)

[2016-06-23 23:42] ewnd9 commented on #306
I've got similar error with
[code]

19 line is `window.$INITIALIZE_COMPONENT_GUI._ressources = resources;`

What else can I provide to help resolve this?

[2016-06-24 00:49] ewnd9 commented on #348
`react@0.14` is the issue here, it's working with the latest react https://github.com/ewnd9/carte-blanche-hello-world

[2016-06-24 01:20] lightning18 commented on #306
@ewnd9 Can you share your filter?

[2016-06-24 01:23] ewnd9 commented on #306
@lightning18 of course

[code]

It matches files like `component/component.js`

[2016-06-24 01:29] lightning18 commented on #306
Are you using this: https://github.com/davezuko/react-redux-starter-kit ? How did you solve the react-router issue?

`Warning: [react-router] Location "/carte-blanche" did not match any routes`

[2016-06-24 01:34] ewnd9 commented on #306
@lightning18 nope, I found that issue by searching `user-bundle.js:19 Uncaught TypeError: Cannot set property '_ressources' of undefined`, sorry for the misunderstanding.

[2016-06-24 05:49] mxstbr commented on #348
Hah, awesome, thanks for digging in @ewnd9, much appreciated! :+1:

[2016-06-24 05:49] #348 closed

[2016-06-24 06:26] ewnd9 commented on #348
@mxstbr thanks for the project :clap: By the way, shouldn't be the `react@15` requirement mentioned in the readme?

[2016-06-24 06:58] mxstbr commented on #348
That sounds like a very reasonable idea, would you mind submitting a PR adding that? :pray:

[2016-06-24 07:20] ewnd9 commented on #348
@mxstbr done https://github.com/carteb/carte-blanche/pull/356

[2016-06-24 14:39] 7aDSK commented on #351
OK,

I tried clone : `https://github.com/carteb/carte-blanche.git` : and I'd some an issue with proper install.
After that I tried : `https://github.com/pure-ui/carte-blanche` : install done.

Webpack config : when this line 'webpack-dev-server/client' is without `http://0.0.0.0:8080` : console, logs - everything is clean - no errors.
Only unable to see a `localhost` at browser. If I press 'F5' 20

[2016-06-25 04:25] vincentaudebert opened #357 "ExpressJS or Django server?"
Hi guys,

First I want to say thank you for such a cool plugin. It's a really good idea.

My question is how could it work with an express server or django server?
I can't access to /carte-blanche because it's not in my list of urls (and it shouldn't be anyway)

Any ideas or it needs to be run on a pure webpack/client side app?

Thanks.

[2016-06-25 09:35] mxstbr commented on #357
It _should_ be working with express if you're using the `express-hot-middleware`! We haven't looked into Django at all, do you want to carry that torch and make it happen?

[2016-06-25 15:09] FredericHeem opened #359 "components with lower case filename not recognized"
Is it intended that components must start with an upper case as the first character of the filename ?

[2016-06-25 15:12] FredericHeem opened #360 "material-ui"
It seems that [material-ui](http://www.material-ui.com/) react components cannot be displayed with carte-blanche:

[code]

[2016-06-25 20:17] mxstbr commented on #359
Yes, the default filtering regex (`/(\/[A-Z][a-zA-Z]*.?\/index|\/[A-Z][a-zA-Z]*)\.(jsx?|es6|react\.jsx?)$/`) does that.

You can easily adapt that though, this _should_ work:

[code]

[2016-06-25 20:17] #359 closed

[2016-06-25 20:20] mxstbr commented on #333
<script>alert('Hello!')</script>

[2016-06-26 15:28] w01fgang commented on #360
@FredericHeem yes you must pass context to the material-ui components.
In theory you can add `MuiThemeProvider` to the carte-blanche's main component [App](https://github.com/carteb/carte-blanche/blob/master/client/components/App/index.js#L127)
[code]

[2016-06-26 16:44] nikgraf commented on #360
@w01fgang did your fork it to get this working?

I was thinking if we allow to create your own container as an options …

[2016-06-26 16:56] w01fgang commented on #360
@nikgraf no, I didn't fork it because I don't have much time, but I use material-ui for a long time and I know well this error.

[2016-06-26 17:33] #325 closed

[2016-06-27 18:07] ChristopherBiscardi opened #363 "webpack 2.1.0-beta.14 Uncaught Exception"
webpack 2.1.0-beta.14 will throw the following error.

[code]

I didn't have time to look into why this is happening, but I've narrowed it down to being in the .14 release.

## Temporary Fix

downgrade to `webpack 2.1.0-beta.13`

[2016-06-28 16:22] FezVrasta opened #364 "Define iframe size?"
Is there an option to define the iframe size? Some times I need frames higher than large and right now seems impossible.

[2016-06-28 17:08] FezVrasta commented on #288
@mxstbr https://github.com/carteb/carte-blanche/issues/288#issuecomment-224372030 is this a viable solution in your opinion?

[2016-06-29 10:51] FezVrasta opened #366 "App CSS get loaded inside carte-blanche"
I don't know if it's an expected behavior, but in my `app.js` I import some css files that are loaded in the global scope (styling for the HTML tags, body, etc).

When I open carte blanche and I visit the home page, everything is okay. When I open one of the components pages, the `document.styl` get loaded globally and changes the style of the whole page.

I don't understand why this is happening

[2016-06-29 13:01] mxstbr commented on #364
The iFrames should resize to fit the content. Do they not do that for you?

[2016-06-29 13:02] mxstbr commented on #366
That's definitely a bug, those styles shouldn't be injected into the main CarteBlanche. Do you have some sample code by chance? How are you importing the files?

[2016-06-29 14:47] FezVrasta commented on #366
I'm importing them with `import './styles/document.styl`

No code to show sorry :(

[2016-06-29 14:50] FezVrasta commented on #364
No the iframe size seems fixed to me.

[2016-06-29 18:07] kevinSuttle opened #367 "Add docs for /examples"
e.g. There are no docs for running the server other than

Webpack dev server gives me `cannot Get /carte-blanche`

[2016-06-29 18:13] kevinSuttle opened #368 ""SourcePlugin is not a constructor""
[code]

[code]

[code]

[2016-06-29 19:48] mxstbr commented on #368
Damn, can you try `new SourcePlugin.default()`?

[2016-06-30 07:31] mxstbr commented on #364
Damn, that's a bug!

[2016-06-30 07:31] mxstbr commented on #366
Alright, will try to replicate!

[2016-06-30 07:36] mxstbr commented on #367
Which server are you using? Express.js?

[2016-06-30 12:18] nikgraf commented on #363
I briefly looked into the issue. First hints: https://github.com/webpack/webpack/compare/36e4fd2...6748dca#diff-d6308b00976bdf2edefc0f08dd6e1cafR594

[2016-06-30 12:39] nikgraf commented on #363
@sokra did we do something wrong in Carte Blanche or is a bug of the Beta?

[2016-06-30 13:58] kevinSuttle commented on #367
Webpack dev server, which uses Express under the hood. https://github.com/webpack/webpack-dev-server/blob/master/package.json#L12

[2016-06-30 14:20] mxstbr commented on #367
Wait, are you running the examples of this repo?

[2016-06-30 14:21] kevinSuttle commented on #367
Yeah...

[2016-06-30 14:31] mxstbr commented on #367
`npm run example:directoryname` runs the examples, e.g. `npm run example:dev`.

What kind of docs do you expect for the examples?

[2016-06-30 14:56] kevinSuttle commented on #367
What you just posted is a great start. :)

[2016-06-30 14:59] mxstbr commented on #367
They're mostly meant for us maintainers to help develop for different setups! They mostly aren't very exciting :grin:

[2016-06-30 15:05] kevinSuttle commented on #367
Fair enough. It's just hard to know how to get CB set up and running on a given server.

[2016-06-30 16:01] mxstbr commented on #367
Shouldn't be much more difficult than

[code]

in your webpack configuration. If it doesn't work with a specific server setup please submit an issue for that!

[2016-06-30 16:01] #367 closed

[2016-07-01 00:59] eschaefer opened #369 "Error: Multiple exported component definitions found."
Not sure how to approach this one...

[code]

components declared in webpack config:
[code]

[2016-07-01 06:52] nikgraf commented on #369
Oh, seems like React-docgen fails in case you export multiple components. Can you post an example file e.g. `BrowseHero.jsx` here so we have a case to test for to fix the bug.

[2016-07-01 06:53] nikgraf commented on #366
@FezVrasta how does your webpack config look like to load `styl` files?

[2016-07-01 16:26] nikgraf commented on #257
@mxstbr what is this about?

[2016-07-01 16:37] eschaefer commented on #369
No problem. Plz don't judge the messy code of this component. It _will_ be refactored :)

[code]

[2016-07-01 17:18] nikgraf commented on #286
Working on this right now …

[2016-07-01 23:20] hosmelq commented on #368
I sent a pull request for this. #316

[2016-07-02 08:10] mxstbr commented on #342
I like the right one in your last comment @okonet, but the colors seem a bit… muddy? The `b` is also a bit hard to see.

[2016-07-02 08:17] mxstbr commented on #146
This was done in #255 and subsequent PRs!

[2016-07-02 08:17] #146 closed

[2016-07-02 08:22] elioqoshi commented on #342
What do you think about this?

![1-01](https://cloud.githubusercontent.com/assets/5436686/16539293/e8293818-403e-11e6-9a3e-6f6b76f3c250.jpg)

[2016-07-02 09:21] mxstbr commented on #217
This is done, see https://github.com/carteb/carte-blanche/blob/master/WRITING-PLUGINS.md

[2016-07-02 09:21] #217 closed

[2016-07-02 16:22] tleunen commented on #341
I'd like this so bad :)
Also having a way to let people test variations without saving them anywhere, so they can see how things are using their data

[2016-07-03 08:07] #244 closed

[2016-07-03 08:08] #286 closed

[2016-07-03 09:51] mxstbr commented on #341
Absolutely. Would you be interested to contribute? Would love pair-code this!

[2016-07-03 22:47] tleunen commented on #341
I'm interested, but unfortunately I don't have time right now to work on this :/
And I don't know carte-blanche at all, so I'd need to take some time learning how it works before starting to think about the best way to implement the feature.

[2016-07-05 08:08] simeg opened #373 "Change CSS of iframe"
I'd like to change the background color of the iframe that's containing my component, is there any way to do this in the current version?

[2016-07-05 08:45] mxstbr commented on #373
The `files` option of the ReactPlugin should do it! https://github.com/carteb/carte-blanche#reactplugin-options

[2016-07-08 09:32] joaogarin opened #374 "Angular plugin"
Hello

I am playing around with carte blance to attempt to create a prototype of it using angular2. the initial setup was pretty nice, and getting the carteblanche running the frontend in a working environment with webpack.

Now I have a couple of questions regarding the webpack hooks and the frontend. Mainly 2 things :

1 ) I am using the carte-blanche-plugin-before-processing hook to analyze my

[2016-07-08 20:36] nikgraf commented on #368
@mxstbr we should cut a new release 😄

[2016-07-08 20:37] nikgraf commented on #373
@simeg did you get it to work?

[2016-07-08 20:39] simeg commented on #373
Thanks for the replies guys. but I have not got it to work yet. The file doesn't seem to load, I didn't have too much time to debug it. I'll keep you posted.

[2016-07-08 20:49] nikgraf commented on #374
first of all, super cool that you already investigated so much 👌

I haven't tried right now as I'm in a branch debugging with complete different packages, but if I'm not wrong this should work:

[code]

Regarding your second question: I just noticed we basically require you to have React. We should fix this so you can define your own template and use angular in there.

[2016-07-08 22:27] joaogarin commented on #374
Yeah I tried the callback option before as I read it in the webpack docs, but it did not work. I do have something in there as the second parameter but its not a function. Its actually an object like the following :

[code]

So if I try callback() I get a type error

[code]

If I try callback.callback() (which is a function) it says

[code]

I will keep digging a bit as I can. But yeah lets meet f

[2016-07-09 08:57] mxstbr commented on #374
Woah awesome @joaogarin!! I'm currently on holiday, but I'll gladly help you with this once I'm back next week!

[2016-07-09 08:57] mxstbr commented on #368
Yeah, we should. Closing this for now since it'll be resolved with the next release!

[2016-07-09 08:57] #368 closed

[2016-07-09 09:54] joaogarin commented on #374
great! Sure thing

[2016-07-12 08:25] oori commented on #369
I experienced the same error, with simpler components following this design:
[code]

The solution was to export only once per file.

[2016-07-13 14:04] riyadhalnur commented on #347
Anyone pick this up yet?

[2016-07-13 14:53] mxstbr commented on #347
This is currently blocked by https://github.com/lerna/lerna/issues/126#issuecomment-228564327

[2016-07-13 14:57] riyadhalnur commented on #347
Ah, I see. Do hit me up if that clears up. Would like to pick this up.

[2016-07-13 17:04] joaogarin commented on #374
So @mxstbr do you have any insight on this callback thing? Basically I need to do something that will return something in a callback inside this hook. When I do that I see the data there, everything looks great but it doesn't pass it to the frontend (I think basically it has already gone through it) so something like this callback() call form webpack seems to be the right fit as metioned here http

[2016-07-13 19:42] acierto opened #377 "Can't install carte-blanche"
I have very strange unmet peer dependency on itself by installing carte-blanche ` npm install --save-dev carte-blanche`, used react version is: "15.2.1"
<img width="339" alt="screen shot 2016-07-13 at 21 41 07" src="https://cloud.githubusercontent.com/assets/2265094/16817322/946db08e-4942-11e6-958d-80e2dbbd6c91.png">

[2016-07-13 20:19] necolas opened #378 "Uncaught SyntaxError: Unexpected token u in JSON at position 0"
I was looking into using storybook or carte-blanche to create a UI explorer for react-native-web. I followed the README instructions and added this to my webpack config:

[code]

But navigating to any example component produces this error:

[code]

[2016-07-13 20:59] mxstbr commented on #378
Holy cow that's awesome! Do you have a repro somewhere so I can take a look at this specific bug?

(We don't have support for a non-editable mode at the moment, but if you give me a day I'll get that implemented!)

[2016-07-13 20:59] mxstbr commented on #377
Oh what, that's really weird. Let me take a look

[2016-07-13 21:02] mxstbr commented on #377
Fixed in `carte-blanche@0.3.1`, sorry about that!

[2016-07-13 21:02] #377 closed

[2016-07-13 22:10] necolas commented on #378
Oh, having the examples be editable is fine. It would be something used during development as much as for external consumption.

To repro:

1. git clone react-native-web
2. `npm install carte-blanche`
3. Add that code block to `examples/webpack.config.js`
4. `npm run examples`

[2016-07-13 22:13] mxstbr commented on #378
Will take a look tomorrow!

[2016-07-13 22:48] LeZuse commented on #378
Also encountered this one. I made a workaround by fixing https://github.com/carteb/carte-blanche/blob/0cedc40b10b788508a255dc9d854c517c68ce24f/plugins/react/frontend/index.js#L24 with this:
[code]

But the the root cause is probably deeper than that.

[2016-07-14 10:16] mxstbr commented on #374
Hmm, the the `carte-blanche-plugin-before-processing` hook needs to run sync at the moment. Let me have a think about this, not sure how we could solve it.

Regarding your second question, we expect you to return react code from your plugin, e.g.

[code]

While I agree that we should change this, could we work around this for now by somehow rendering the Angular 2 components with react? (something

[2016-07-14 13:20] joaogarin commented on #374
Yes second one works. But for that I have to turn on Jsx for typescript (using .tsx files and turning some options on the compiler to use jsx). However that might affect the way it will work with my angular app that I need to render the components, because it does not work with jsx, or maybe it does I am not sure.. is there a ES6 equivalent for that?

Regarding the first one, let me then figure ou

[2016-07-14 13:29] joaogarin commented on #374
React.createElement seems to be what I was looking for;P

[2016-07-16 07:05] nikgraf commented on #363
Working on this. We identified the ExtraEntryPlugin as root cause although I'm not sure if it's a bug in webpack or we do something wrong in the ExtraEntryPlugin: https://github.com/carteb/carte-blanche/pull/379

[2016-07-16 09:03] sokra commented on #363
Looks like the extra-entry-plugin should have a peerDependency to webpack instead of a depenency. And webpack@^2.1.0-beta need to be included.

https://github.com/jantimon/extra-entry-webpack-plugin/blob/master/package.json#L46

[2016-07-16 11:50] nikgraf commented on #363
This will be resolved with the next release 😄 https://github.com/carteb/carte-blanche/pull/379

[2016-07-16 11:50] #363 closed

[2016-07-16 22:53] nikgraf commented on #347
@mxstbr if we restructure the build we could put everything into `packages` or is there another reason not to do it?

[2016-07-17 06:01] mxstbr commented on #347
If we restructure the build and the examples it should be just fine!

[2016-07-17 06:01] nikgraf commented on #369
@eschaefer don't worry about your code, actually it looks pretty good 😄

Alright, yes the issue lies within the tool we use to identify the types (react-docgen). We could write a resolver that can parse multiple components and then change the architecture in carteblanche.

I remember making a conscious decision about this when we built it. The conclusion was: this would mean increased complexity t

[2016-07-17 06:02] riyadhalnur commented on #347
So I take it this can be picked up then?

[2016-07-17 06:02] nikgraf commented on #305
done by @lithin 🙌

[2016-07-17 06:02] #305 closed

[2016-07-17 06:05] nikgraf commented on #347
@riyadhalnur yep!

[2016-07-17 06:08] riyadhalnur commented on #347
Cool. Will start work on it then 💻

[2016-07-17 06:52] nikgraf commented on #378
Just tried, I even get an earlier error … need to take a closer look at another time.

<img width="545" alt="screen shot 2016-07-17 at 08 51 59" src="https://cloud.githubusercontent.com/assets/223045/16899218/d61aa5f8-4bfb-11e6-9eed-977a96ddde5c.png">

[2016-07-17 06:54] nikgraf commented on #378
@LeZuse do you have an example repo?

[2016-07-17 18:20] joaogarin commented on #374
Good news! The first issue I managed to get around in getting the info async so dont really need antyhing being done there anymore.

Also I have now my frontend app being delivered in this Jsx thing. So basically

[code]

cbapp is just he placeholder where my angular2 app will bootstrap on. the base element so to say..So now basically I already have my app running inside carteblanche with the info

[2016-07-17 18:56] mxstbr commented on #374
Awesome!! :+1: :+1:

[2016-07-18 16:31] ChristopherBiscardi commented on #363
👍

[2016-07-18 18:17] LeZuse commented on #378
@nikgraf I will try to make an isolated repro and will get back to you.

[2016-07-19 13:48] thebuilder commented on #378
@nikgraf I'm getting the same error - Seem to fail while parsing the Component data:

It's calling http://localhost:8082/variations/src/components/Footer/Footer.js, which returns:
[code]

[2016-07-20 12:57] dmnkgrc commented on #230
Maybe I could give it a try, where would be a good place to start?

[2016-07-23 15:06] joaogarin commented on #374
Hello,

I am trying to make some progress. I am now basically able to render components inside cart blanche, but struggling on some issues that I think maybe taking some ideas from the way you are doing the react plugin might share some light.

Can you briefly describe to me the process of how the plugin works in terms of rendering the component? My understanding is you are taking the user bundle,

[2016-07-29 14:55] eddiewang opened #386 "Uncaught ReferenceError: reactBoilerplateDeps is not defined"
Getting a
`Uncaught ReferenceError: reactBoilerplateDeps is not defined`

When trying to run carte-blanche with react-boilerplate. Any help would be greatly appreciated.

[2016-07-29 15:45] eddiewang commented on #386
90% sure it has something to do with the DLLPlugin in react-boilerplate. Removed it and it's working. Sounds similar to the error with CommonChunks.

[2016-07-29 17:12] mxstbr commented on #386
Wait, Carte Blanche is working for you with react-boilerplate if you remove the DLLPlugin?

[2016-07-29 17:21] eddiewang commented on #386
Almost. The main UI loads but components are still being sketchy.

[2016-07-29 17:21] eddiewang commented on #386
By sketchy I mean a blank modal pops up (without the component)

[2016-07-29 17:39] mxstbr commented on #386
I think we might need to build explicit DLLPlugin support…

[2016-07-29 17:40] FezVrasta commented on #386
Please first make react-boilerplate (vanilla) work :P

[2016-07-29 17:49] mxstbr commented on #386
That's needed for `react-boilerplate` support 😁

[2016-08-01 03:54] NickMalt commented on #285
Is it work with react-boilerplate now?

[2016-08-03 14:30] joaogarin commented on #374
Hello guys any feedback n this?

[2016-08-11 07:23] edvinerikson opened #388 "webpack 2 support"
I am not sure if the issue is in carte-blanche itself or some dependency.. but as soon as I add the webpack plugin I start getting `callback is not defined`

Webpack: `webpack@2.1.0-beta.20`
Node: `v6.3.0`
NPM: `3.10.3`

__Stack:__
[code]

__Webpack config__
[code]

[2016-08-11 07:24] mxstbr commented on #388
I've seen that webpack config before, hah :wink:

I think this is already being tracked in #386.

[2016-08-11 07:24] #388 closed

[2016-08-11 07:26] edvinerikson commented on #388
@mxstbr Thanks for the fast answer but I don't think it has anything to do with DLL plugin though

[2016-08-11 08:01] mxstbr commented on #388
True but the overarching issue is `react-boilerplate` support, not specific issues with it :+1:

[2016-08-12 22:11] unindented commented on #315
Can anybody give some guidance on the work necessary to get components written in TypeScript working with `carte-blanche`? I'm not familiar with the codebase, but I'd benefit from this, so I'm willing to help.

[2016-08-12 22:11] unindented commented on #293
@chrisui any progress here? Any way I can help?

[2016-08-19 15:21] MicheleBertoli opened #389 "Generating metadata failed Error: getNodeFromInstance: Invalid argument."
hey!
I tried to setup `carte-blanche` starting from an app created with `create-react-app` but I couldn't make it work.
I always get `Generating metadata failed Error: getNodeFromInstance: Invalid argument.` when I click on a component in the sidebar.

steps to reproduce:

1) create app
[code]

2) edit webpack config
[code]

3) start app
[code]

4) select component
open `http://localhost:3000/cart

[2016-08-22 06:08] joaogarin commented on #374
Hello guys. Sorry been on vacation so was a bit quiet.. I did do some progress on the sample app. basically I have some basic rendering going on for most simple components, and now would be nice to start getting into making variations and generating metadata for the components.

I noticed in the react plugin Faker.js is being used to generate the metadata for the components.I still have some doubt

[2016-08-22 22:42] hrwebasst opened #390 "get requests to localhost:8082"
I've set my hostname and port to something completely different than localhost:8082 yet carte-blanche insists trying to do get requests to localhost:8082

[2016-08-24 10:39] chrisui commented on #293
Right. So sorry about the delay and silence! Had a much needed holiday extension and have some crazy things occurring at work.

I have pushed a new version of `recon-engine` (the guts behind recon) which is, I'm happy to say, working very well on our pretty extensive and intricate codebase at Lystable. I'm soon going to be reaching out to whoever I can to try and target all the edge cases there ar

[2016-08-24 22:17] tweettypography commented on #389
I'm encountering the same issue. Did you get it figured out?

[2016-08-25 07:48] venkat-gan commented on #389
I am also having this same issue.

[2016-08-25 16:12] ansumanshah commented on #388
Same Issue :(

[2016-08-27 21:38] calebmer commented on #388
I also have the same issue without using `react-boilerplate` or the DLL plugin.

[2016-08-29 21:23] tandrewnichols commented on #389
Some similar issues in other repos suggested: 1) Updating react and react-dom to 15.3.1 (didn't work for me), 2) downgrading react and react-dom to 15.1.0 (also didn't work for me). Also tried using node 5.5 as that's specified under "engines." This didn't work either. Giving up.

[2016-08-29 21:25] tandrewnichols commented on #389
Alternatively, check out [@kadira/storybook](https://github.com/kadirahq/react-storybook), which requires a bit more setup than this, but _actually works_.

[2016-08-31 11:42] venkat-gan commented on #389
@mxstbr Any update on this issue ? 😢

[2016-09-13 15:33] BenSwennen opened #391 "Component detail not loading"
When I click on the details of my component, I expect a detail view of my component, however a modal pops up with following console errors:

[code]

Here is my component:
[code]

and my webpack config:
[code]

![out](https://cloud.githubusercontent.com/assets/8612041/18480194/103fc4b6-79d8-11e6-8b5e-6f228772d83a.gif)

Can you tell me if I'm doing something wrong?

[2016-09-22 07:47] cyberpluto commented on #391
Seeing the same, it seems that there is something wrong with the css, because the Card is really on the page, but hidden by the modal

[2016-10-23 20:49] fredjens opened #392 "Examples do not work with webpack 2"
Webpack 2 can not handle autoprefixer the way it does in the webpack config.

<img width="1039" alt="skjermbilde 2016-10-23 kl 22 52 43" src="https://cloud.githubusercontent.com/assets/4348783/19629342/73b7d85c-9973-11e6-971c-d3fa84c223b4.png">

[2016-10-25 09:34] #392 closed

[2016-10-25 15:28] fredjens commented on #391
It is not on the page (you are seeing the front page), and due to the console message it is a JavaScript error... I am experiencing the same too, when i tried to pull carte blanche into an existing project...

[2016-11-02 14:35] okonet commented on #391
Same here. The error is actually:

[code]

[2016-11-04 12:58] oreqizer opened #394 "index.html: Wrong bundle/css paths"
<img width="462" alt="screen shot 2016-11-04 at 13 56 21" src="https://cloud.githubusercontent.com/assets/11172408/20006154/96abfcd6-a296-11e6-886d-1288a368bcc3.png">

My config:
[code]

[2016-11-14 07:25] web2style commented on #388
Any updates on this? Almost 3 months have passed since last comment. I still have the issue.

[2016-11-21 19:33] derpoho commented on #388
Also having the same issue.

[2017-01-12 08:54] cef62 commented on #369
I'm not sure if this is still an issue with `carte-blanche` but I'm sharing the info in case someone is interested. `react-styleguidist` has a similar problem styleguidist/react-styleguidist#185, resolved updating `react-docgen` resolver options.
I suppose it's possible to do something similar also with `carte-blanche`.

[2017-01-25 14:49] wmertens commented on #394
@oreqizer componentRoot is where CB finds the components, not where it serves them from.

[2017-01-25 14:50] wmertens commented on #394
You want

[code]

[2017-01-25 14:50] #394 closed

[2017-01-25 14:59] wmertens commented on #369
@cef62 thanks, so basically use `require('react-docgen').resolver.findAllComponentDefinitions` instead of just the resolver @nikgraf.

[2017-02-05 00:06] jtadmor opened #397 "webpack2 / extra-entry-webpack-plugin peculiarity"
Hi,

Love this project. Having an odd issue.

This is my package.json:

[code]

[2017-02-28 04:06] finneganh commented on #389
My quick read on this issue is that React is being added to the page twice. Once by the client-bundle.js file that's precompiled and distributed with carte-blanche, and once by the user-bundle that’s built from your own code (and presumably requires React).

I wonder if it’s possible to build the client-bundle code dynamically, or alternately to try and prevent the user-bundle React from affecting

[2017-03-01 02:15] finneganh commented on #389
Alternately it may be that the bundled React is one of the 15.1.x versions that break on findDOMNode. I've rebuilt the project from master and can't reproduce the problem anymore.

[2017-06-13 14:46] biirus commented on #388
Hi folks, I wanna try your product, but that issue blocks me out. Do you have fixing in plan?

[2017-06-22 12:39] VALIKCOOL commented on #388
+1 here

[2018-02-02 22:01] FDiskas commented on #347
and....

[2018-04-19 16:03] #378 closed

[2019-10-04 21:31] #373 closed